@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --main-color: #ffffff;
    /* สีหลัก */
    --background-color: #461752;
    /* สีพื้นหลัง */
    --box-color: #562181;
    /* สีกล่องข้อความ */
    --box-border-color: #BA01F8;
    /* สีกรอบกล่องข้อความ */
    --box-hover-color: #BA01F8;
    /* สีกล่องข้อความตอนเมาส์โดน */
    --drop-shadow: #BA01F8;
    /* สีเงาพื้นหลัง พวกรูป หรือ อีโมจิต่างๆ */
    --text-color: #ffffff;
    /* สีข้อความหลัก */
    --text-detail: #cdcdcd;
    /* สีข้อความรายละเอียด */
    --text-shadow: #d12efa;
    /* สีเงา */
    --off: #db80f0;
    /* สีตอนปิดใช้งาน */
    --on: #90ee90;
    /* สีตอนเปิดใช้งาน */
}

/* --------------------------------------------------------------------------- */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    user-select: none;
    -webkit-user-select: none;
}

#body {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container .box-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    column-gap: 0.75vh;
    width: auto;
    height: auto;
    background: #313131;
    border-radius: 1.75vh;
    padding: 0.75vh;
    box-shadow: inset 0px 0px 10px #000000;
    cursor: pointer;
}

/* --------------------------------------------------------------------------- */

.container .box-menu .close-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5.5vh;
    width: auto;
    height: 2.75vh;
    background-color: black;
    border-radius: 1.5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    animation: openMenuUi 0.15s;
}

.container .box-menu .close-box .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vh;
    color: var(--text-color);
}
.container .box-menu .close-box .fa-solid {
    font-size: 1.4vh;
    color: var(--main-color);
    margin-right: 0.5vh;
    text-shadow: 0 0 1vh var(--text-shadow);
}

/* --------------------------------------------------------------------------- */

.container .box-menu .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 7.87vh;
    height: 7.87vh;
    background: linear-gradient(72.6deg, #B100CC 6.7%, #FF1D70 95.9%), linear-gradient(135.49deg, #9029FF -1.02%, #EC3979 110.5%), #1A1A1A;
    box-shadow: 0px 0px 4.4px #000000;
    border-radius: 1.5vh;
    box-sizing: border-box;
    transition: 0.2s;
}

.container .box-menu .box .fa-solid {
    position: absolute;
    top: 0.85vh;
    font-size: 2.6vh;
    color: var(--main-color);
    text-shadow: 0 0 2vh var(--text-shadow);
}

.container .box-menu .box .topic {
    position: absolute;
    bottom: 1.4vh;
    font-size: 1.1vh;
    font-weight: 500;
    color: var(--text-color);
    transition: 0.1s;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 1.39vh;
}

.container .box-menu .box .detail {
    position: absolute;
    bottom: 0.25vh;
    font-size: 0.95vh;
    color: var(--text-detail);
    text-align: center;
    transition: 0.1s;
}

.container .box-menu .box:hover {
    background-color: var(--box-hover-color);
}

.container .box-menu .box:hover>.topic {
    font-size: 1.25vh;
}

.container .box-menu .box:hover>.detail {
    font-size: 1.05vh;
}

@keyframes openMenuUi {
    0% {
        top: 3.5vh;
    }

    100% {
        top: -3.5vh;
    }
}



.box-out{
    position: absolute;
    width: fit-content;
    /* height: 113px; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), linear-gradient(0deg, #1A1A1A 0%, #484848 100%);
    bottom: 0vh;
    padding: 1vh 1vh;
    border-radius: 2vh 2vh 0 0;
}

.box-bg{
    box-sizing: border-box;
    position: absolute;
    width: inherit;
    height: 3.33vh;
    background: linear-gradient(180deg, #484848 0%, #1A1A1A 100%);
    box-shadow: 0vh 0vh 0.41vh #000000;
    border-radius: 0.7vh;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esc span{
    position: absolute;
    left: 33%;
    top: 20%;
    transform: translate(-50%,-50%);
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 1.85vh;
    color: #FFFFFF;
}

.icon{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -1.5vh;
    width: 6.48vh;
    height: 6.48vh;
    transition: .4s;
}

.box:hover{
    filter: brightness(1.5);
    cursor: pointer;
}

.box:hover .icon{
    transform: translateX(-50%) rotate(-15deg) scale(1.2);
    filter: brightness(0.5);
}