/* Created By.xZero */

:root {
  --color-money: greenyellow;
  --color-black_money: red;
  --color-modal-bg: linear-gradient(
    113.97140799373301deg,
    rgba(56, 56, 56, 0.7) 12.24049331963001%,
    rgba(74, 74, 74, 0.7) 52.43833504624872%,
    rgba(28, 28, 28, 0.7) 100.2929085303186%
  );
  --color-items-sell-history: linear-gradient(
    113.97140799373301deg,
    rgb(39 38 38 / 70%) 12.24049331963001%,
    rgb(51 47 47 / 70%) 52.43833504624872%,
    rgb(19 18 18 / 70%) 100.2929085303186%
  );
}

/* ========== Pagination ========== */
.pagination-custom {
  background: linear-gradient(
    to right, #00aeff 0%, #00aeff 40%, #00aeff 150%);
  color: #fff;
  font-size: 18px;
}

.pagination-btn-custom {
  cursor: pointer;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 50%;
  border: solid 2px rgba(0, 0, 0, 0);
  transition: 0.1s;
}
.pagination-btn-custom:hover {
  color: gold;
}
.pagination-prev-custom:hover,
.pagination-next-custom:hover {
  border-color: gold;
}

/* ========== ScrollBar ========== */
::-webkit-scrollbar {
  width: 3px;
  background-color: lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

/* ========== Main Menu ========== */
.main-menu-custom {
  border: solid 1px;
  background: linear-gradient(to bottom, #00aeff 0%, #00aeff 40%, #00aeff 150%);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.5);
}
.main-menu-custom:hover {
  box-shadow: 0 0 5px 0 #fff;
  background: linear-gradient(to bottom, #00aeff 0%, #00aeff 40%, #00aeff 150%);
}

/* ========== Main User ========== */
.main-user-custom {
  border: solid 1px;
  background: linear-gradient(to bottom, #00aeff 0%, #00aeff 40%, #00aeff 150%);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.5);
}

/* ========== Category ========== */
.category-custom {
  background: linear-gradient(to right, #00aeff93, #00aeff93);
  /* background-image: url(https://i.pinimg.com/originals/f2/8b/62/f28b62e3c73e0991d51e6c0dcb412360.gif); */
}
.category-title-custom {
  background: linear-gradient(to right, #00aeff93, #00aeff93);
  /* background-image: url(https://i.pinimg.com/originals/f2/8b/62/f28b62e3c73e0991d51e6c0dcb412360.gif); */
  color: #fff;
}
.category-item-custom li {
  background: linear-gradient(to bottom, #00aeff93 0%, #00aeff93 40%, #00aeff93 150%);
  background-blend-mode: multiply, multiply;
  color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  /* transition: 0.1s; */
}
.category-item-custom li:hover,
.category-item-custom li.active {
  background: linear-gradient(to bottom, #00aeff 0%, #00aeff 40%, #00aeff 150%);
  box-shadow: 0 0 0 0;
  border-left: solid 5px #e04545;
}
/* .category-item-custom li {
  line-height: 2.0rem;
} */

/* ========== ItemList Items ========== */
.itemlist-item-custom .item {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
  background: linear-gradient(to bottom, #00aeff 0%, #00aeff 40%, #00aeff 150%);
  background-blend-mode: multiply;
}
.itemlist-item-custom .item .item-label {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: linear-gradient(to bottom, #00aeff 0%, #00aeff 40%, #00aeff 150%);
  background-blend-mode: multiply;
  font-size: 13px;
}
.itemlist-item-custom .item .item-price {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  font-weight: bold;
}
.itemlist-item-custom .item .item-count {
  font-size: 11px;
  background-color: #4caf50;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 0px 6px;
}
.itemlist-item-custom .item:hover {
  box-shadow: 0px 0px 6px 1px #fff;
  background: linear-gradient(to right, #c7c1c1 0%, #676666 80%);
  outline: solid 2px #fff;
}

/* ========== Modal Item ========== */
.modal-item-custom {
  background: var(--color-modal-bg);
  box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 1);
}
/* Item Info */
.modal-item-custom .item-info {
  background: linear-gradient(
    113.97140799373301deg, #00aeff 0%, #00aeff 40%, #00aeff 150%);
  border-right: solid 1px rgba(255, 255, 255, 0.6);
}
.modal-item-custom .item-info .item-info-label {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 25px;
}
.modal-item-custom .item-info .item-info-price {
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 25px;
}
.modal-item-custom .item-info .item-info-count {
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 25px;
}
/* Item Editor */
.modal-item-custom .item-editor .item-editor-content .item-editor-price.money {
  background: linear-gradient(
    to right,
    #f4433600 0%,
    #f4433600 0%,
    #2c8c3038 21%,
    #249a2994 52%,
    #1f9624 78%,
    #1f9424 100%
  );
}
.modal-item-custom
  .item-editor
  .item-editor-content
  .item-editor-price.black_money {
  background: linear-gradient(
    to right,
    #f4433600 0%,
    #f4433600 0%,
    #f4433612 21%,
    #f443365c 52%,
    #e44236bf 78%,
    #ff5d51 100%
  );
}
.modal-item-custom .item-editor .item-editor-content .item-editor-vat {
  background: linear-gradient(
    to right,
    #f4433600 0%,
    #f4433600 0%,
    #ff98001f 21%,
    #ff980059 52%,
    #ff9800a6 78%,
    #ff9800 100%
  );
}

/* ========== page buy ========== */

/* ItemList - Header */
.items-selling-header-custom {
  background: linear-gradient(to right, #00aeffa8, #00aeffa8);
  color: #fff;
  font-size: 18px;
}

/* ========== page sell ========== */
.header-main-custom {
  background: linear-gradient(to right, #00aeffa8, #00aeffa8);
  color: #fff;
  font-size: 20px;
}

/* ItemList - Count */
.sell-itemlist .itemlist-item .item .item-count {
  background-color: steelblue;
}

/* ========== Input Text ========== */
/* Input Count */
.input-count-custom .input-count-tb > input {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 20px;
  color: gold;
  border: solid 2px rgba(255, 255, 255, 0.6);
}
.input-count-custom .input-count-tb > input:hover,
.input-count-custom .input-count-tb > input:focus {
  border: solid 2px gold;
  box-shadow: 0px 0px 8px 0px #ffc107;
  outline: 0;
}
.input-count-custom .input-count-min,
.input-count-custom .input-count-max,
.input-count-custom .input-count-add,
.input-count-custom .input-count-remove {
  border: solid 2px rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
.input-count-custom .input-count-min:hover,
.input-count-custom .input-count-max:hover,
.input-count-custom .input-count-add:hover,
.input-count-custom .input-count-remove:hover {
  border: solid 2px gold;
  color: gold;
  box-shadow: 0px 0px 8px 0px #ffc107;
}
/* Input Text */
input.input-search-custom {
  background: linear-gradient(to bottom, #00aeffa8 0%, #00aeffa8 40%, #00aeffa8 150%),
    linear-gradient(
      to top, #00aeff 0%, #00aeff 40%, #00aeff 150%);
  background-blend-mode: multiply;
}
input.input-search-custom:focus,
input.input-search-custom:hover {
  border-color: #fff;
  box-shadow: 1px 0px 5px 1px #fff;
}

/* ========== Button  ========== */
.btn {
  max-width: 100%;
  padding: 7px 8px 7px 8px;
  background-color: #b7b5b5;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.7);
  transition: 0.1s;
}
.btn:hover {
  outline: solid 2px #fff;
  box-shadow: 0px 0px 8px 3px #fff;
}
button.btn[disabled] {
  box-shadow: 0 0 0 0;
  filter: brightness(0.7);
}

/* xZero Gray */
.btn-xzero-gray {
  background: linear-gradient(to bottom, #a5a5a5 0%, #6f6f6f 40%, #b7b5b5 150%),
    linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(12, 12, 12, 0.25) 200%);
  background-blend-mode: multiply;
}
/* xZero Green */
.btn-xzero-green {
  background: linear-gradient(to bottom, #8bc34a 0%, #8bc34a 40%, #4caf50 150%),
    linear-gradient(to top, rgb(48, 144, 52) 0%, rgba(255, 255, 255, 0.25) 200%);
  background-blend-mode: multiply;
}
/* xZero Yellow */
.btn-xzero-yellow {
  background: linear-gradient(to bottom, #ffc107 0%, #ffe28b 40%, #ff9800 150%),
    linear-gradient(to top, rgb(185, 140, 3) 0%, rgba(255, 255, 255, 0.25) 200%);
  background-blend-mode: multiply;
}
/* xZero Red */
.btn-xzero-red {
  background: linear-gradient(to bottom, #f44336 0%, #ff958d 40%, #ffffff 150%),
    linear-gradient(to top, #a50b00 0%, rgba(255, 255, 255, 0.25) 200%);
  background-blend-mode: multiply;
}
/* xZero Blue */
.btn-xzero-blue {
  background: linear-gradient(to bottom, #03a9f4 0%, #2196f3 40%, #ffffff 150%),
    linear-gradient(to top, #0e4f6d 0%, rgba(255, 255, 255, 0.25) 200%);
  background-blend-mode: multiply;
}

/* ========= LOADING ========== */
.loading-xzero-red-fade {
  --loading-red-fade: 244, 67, 54;
  background: linear-gradient(
    90deg,
    transparent 17%,
    rgba(var(--loading-red-fade), 0.5) 35%,
    rgba(var(--loading-red-fade), 1) 42%,
    rgba(var(--loading-red-fade), 0.5) 70%,
    rgba(var(--loading-red-fade), 0.1) 78%,
    transparent
  );
}

/* ========== Notify ========== */
/* Normal */
div.xzero-notify {
  padding: 3px;
  margin: 3px;
  color: #fff;

  /* background: linear-gradient(
    90deg,
    #404040 30%,
    rgba(64, 64, 64, 0.82) 50%,
    rgba(64, 64, 64, 0.4) 75%,
    rgba(255, 152, 0, 0) 100%
  ); */

  background: linear-gradient(
    90deg,
    #0c75ca 16%,
    rgba(10, 131, 226, 0.6) 42%,
    #008dce4d 69%,
    rgba(255, 152, 0, 0) 100%
  );

  border-left: solid 3px #fff;
}
/* success */
.xzero-notify.success {
  background: linear-gradient(
    90deg,
    #0b9c11 16%,
    rgba(12, 171, 19, 0.73) 42%,
    rgba(24, 167, 31, 0.57) 69%,
    rgba(255, 152, 0, 0) 100%
  );
}
/* error */
.xzero-notify.error {
  background: linear-gradient(
    90deg,
    #f44336 16%,
    #d02619e0 42%,
    #bf342a75 69%,
    rgba(255, 152, 0, 0) 100%
  );
}

/* ========== Card Item ========== */
.card-item-custom {
  color: #fff;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(97, 97, 97) 0%,
    rgb(39, 44, 47) 81.3%
  );
}

.card-item-info > p.money {
  font-weight: bold;
  color: var(--color-money);
}
.card-item-info > p.black_money {
  font-weight: bold;
  color: var(--color-black_money);
}
/* Money/Black Money  */
div.card-item.card-item-custom.card-item-green {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #4caf50 0%,
    rgb(43, 101, 45) 81.3%
  );
}
/* Money/Black Money Total */
div.card-item.card-item-custom.card-item-blue {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #2196f3 0%,
    #0e436d 81.3%
  );
}
/* Items Selling */
div.card-item.card-item-custom.card-item-yellow {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #ffc107 0%,
    rgb(185, 110, 0) 81.3%
  );
}
/* Itmes Sell Total */
div.card-item.card-item-custom.card-item-red {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #f44336 0%,
    rgb(146, 24, 15) 81.3%
  );
}

/* ========== Items Sell History ========== */
table.tb-ish-custom > thead > tr > th {
  font-weight: normal;
  background-color: #b0261c;
}
table.tb-ish-custom > tbody > tr {
  color: #fff;
}