@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
    --main-font-color: #f1e8e8;
    --main-font-style: 'Kanit', sans-serif;
    --main-bg-color: #3c3c3c;
    --main-color-rgb1: 208, 63, 68;
    --main-color-rgb2: 238, 103, 108;
    --main-color-rgb3: 226, 78, 83;
    --main-color-hex1: #001bbe;
    --main-color-hex2: #001bbe;
    --main-color-hex3: #001bbe;
    --main-color-hex4: #001bbe;
    --cl-gradien-deg: 0deg;
    --cl: rgb(var(--main-color-rgb1));
    --cl-gradien-bg: rgb(var(--main-color-rgb3));
    --cl-gradien: linear-gradient(var(--cl-gradien-deg), rgba(var(--main-color-rgb3), 1) 0%, rgba(var(--main-color-rgb1), 1) 50%, rgba(var(--main-color-rgb2), 1) 100%);
}

body {
    overflow: auto;
    font-family: 'Kanit', sans-serif;
}

body>* {
    flex-shrink: 0;
    user-select: none;
}

* {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}

@keyframes offsettozero {
    100% {
        stroke-dashoffset: 0;
    }
}

::-webkit-scrollbar {
    display: none;
}

.bg {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(237, 205, 92, 0);
    top: 0vh;
    left: 0vh;
}

.voice-advanced {
    position: absolute;
    top: 25%;
    left: 0.5%;
}

.content-box {
    position: relative;
    border-radius: 5px;
    width: auto;
    height: auto;
}

.main-content {
    display: flex;
    padding: 0.9vh;
    background: var(--cl-gradien-bg);
    background: var(--cl-gradien);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content-Mhz {
    position: fixed;
    font-size: 1vh;
    font-weight: 500;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    box-shadow: inset 3px 5px 3px #1f1f1f, 0px 1px 2px #001bbe;
    padding: 0.11rem 0.33rem;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #001bbe;
    cursor: pointer;
}

.content-text {
    display: flex;
    width: 100%;
    justify-content: center;
    color: var(--main-font-color);
    font-size: 1.2vh;
    font-weight: 400;
    padding-top: 1px;
    font-family: 'Kanit', sans-serif;
}

.main-playerlist {
    display: grid;
    grid-template-columns: 19vh;
    gap: 3px;
    padding: 2px 5px;
    background: #1c1c1c;
    /* background: linear-gradient(0deg, rgba(40, 40, 40, 0.409) 0%, rgba(44, 44, 44, 0.5382353625043768) 18%, rgba(31, 31, 31, 1) 100%); */
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.more-player {
    grid-template-columns: 1fr 1fr;
}

.playerlist.head {
    order: -1;
    color: #001bbe;
}

.playerlist {
    display: flex;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
    font-size: 1.1vh;
    font-weight: 100;
    color: #fff;
    padding: 6px;
    border-radius: 5px;
    background-color: var(--main-bg-color);
    align-items: center;
    border: 1.5px solid #1f1f1f;
    box-shadow: inset 2px 6px 9px #1f1f1f25;
    transition: all 0.6s;
}

.radio-walkie {
    background-image: url('https://cdn.discordapp.com/attachments/1038313623661068339/1047454983261528094/microphone.png');
    width: 15px;
    height: 15px;
    filter: invert(100%);
    background-position: center;
    background-size: cover;
    transition: all 0.7s;
    margin-right: 5px;
    margin-left: 5px;
}

.playerlist.active {
    order: -1;
    background-color: var(--main-color-hex1);
    border: 1.5px solid var(--main-color-hex4);
    box-shadow: inset 2px 6px 9px var(--main-color-hex3), 0px 0px 5px 1px #001bbe;
    color: #fff;
    text-shadow: 0px 0px 7px #000000;
}

.playerlist.active .radio-walkie {
    /* rotate: -15deg; */
    scale: 1.3;
    margin-left: -3px;
}

@media only screen and (max-height: 700px) {

    /* For desktop: */
    .content-Mhz {
        display: none;
    }

    .content-box {
        width: auto;
    }

    .main-playerlist {
        grid-template-columns: auto;
    }
}