@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    overflow: hidden;
    height: 100%;
    width: 100%
}

button {
    font-family: 'Kanit', sans-serif;
}

#container {
    display: none;
    /* none */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 680px;
    width: 700px;
    margin-top: 10px;
    /*background-color: rgba(44, 44, 44, .94);*/
    background-color: #0e0e0ecc;
    border-radius: 10px;
    overflow: hidden;
}

#inner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: stretch;
    overflow: hidden
}

#Ksuck-container {
    display: none;
    /* none */
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    height: 640px;
    width: auto;
    margin-top: 10px;
    background-color: #0e0e0ecc;
    border-radius: 10px;
    overflow: hidden
}

#Ksuck-container .k-active {
    display: none;
    /* none */
}

header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    /* main set */
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-size: 24px;
    overflow: hidden;
}

main {
    flex: 1 1;
    position: relative;
    z-index: 1;
    letter-spacing: .09em
}


/*
    display: flex;
    flex-direction: column;
    background-color: rgba(26, 26, 26, 0.5);    
    margin: 1rem;
    align-items: stretch;
    border-radius: 0.7rem;
    height: auto;
*/

#search {
    border: 1px solid rgba(88, 88, 88, .45);
    margin-top: 5px;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.664);
    width: 100%;
    border-radius: 5px;
}

#search::-webkit-input-placeholder {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #c8c8c8
}

.grid-container {
    background-color: rgba(0, 0, 0, 0.664);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    padding: 4px;
}

.grid-container>div {
    padding: 4px
}

.grid-container2 {
    background-color: rgba(0, 0, 0, 0.664);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
}

.grid-container2>div {
    padding: 5px
}

.grid-container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.grid-container3>div {
    padding: 5px
}


/*menu player*/

.grid-container4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.grid-container4>div {
    padding: 5px
}

.action-button {
    width: 100px;
    height: 100px
}


/*ใช้กับ js เรียกหน้า*/

#actions,
#server,
#weapons {
    display: none;
    height: calc(100% - 80px);
    overflow-x: scroll;
    overflow-x: hidden;
}

#weapons {
    background-color: rgba(26, 26, 26, 0.5);
    margin: 1rem;
    padding: 0.5rem 0.7rem;
    overflow: hidden;
    border-radius: 10px;
    height: 580px;
}


/*
#weapons #weaponlist {

}

#actions:focus {
    outline: 0
}

/* menu bg*/

#server {
    display: block;
    background-color: rgba(26, 26, 26, 0.5);
    margin: 1rem;
    margin-bottom: 0rem;
    border-radius: 0.7rem;
    height: 590px;
}

#actions {
    display: none;
    background-color: rgba(26, 26, 26, 0.5);
    margin: 1rem;
    margin-bottom: 0rem;
    border-radius: 0.7rem;
    height: 590px;
}

footer {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #868686
}


/*btn setting */

.btn {
    background: linear-gradient(270deg, #131313 0%, #2c2c2c 100%);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px
}

.main {
    width: 140px;
    height: 68px;
}

.main2 {
    width: 100px;
    height: 64px;
    font-size: 12px;
}

.main2 i {
    width: 50%;
    height: auto;
    text-align: center;
}

.btn.ban,
.btn.kick {
    width: 127px;
    height: 64px;
}

.btn.disabled {
    background: 0 0;
    border: 2px dashed rgba(84, 84, 84, .8);
    color: #848484;
    width: 120px;
    height: 64px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px
}

.btn.permaban {
    width: 127px;
    height: 64px;
    margin-left: 0px;
    background-color: rgba(0, 27, 190);
    color: #ffffff;
}

.btn:hover {
    background: linear-gradient(270deg, #252525 0%, #252525 100%)
}

.ptitle {
    /*min-width: 90px;*/
    height: auto;
    padding: 0px;
    margin: auto;
    line-height: 45px;
}

.pname {
    color: #fff;
    font-size: 16px;
    float: left;
    margin-left: 10px
}

#pinner {
    height: calc(100% - 80px);
    margin: 1rem;
    height: 510px;
    width: 260px;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 10px;
    overflow-x: scroll;
    overflow-x: hidden;
}

#pinner .item {
    overflow-x: scroll;
    overflow-x: hidden;
}


/*
#overflow-item {
    height: calc(100% - 0px);
    overflow-x: scroll;
    overflow-x: hidden
}

#overflow{
    height: calc(100% - 50px);
    overflow-x: hide;
}
*/

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-thumb {
    background-color: rgba(88, 88, 88, .8);
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

.banitem,
.item {
    height: 60px;
    position: relative;
    display: inline-block;
    left: 0;
    line-height: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: #fff;
    transition: .2s;
    margin: 5px;
    border-radius: 10px
}

.banitem {
    background-color: rgba(28, 28, 28, .8);
    font-family: 'Kanit', sans-serif;
}


/*เลือก ผู้เล่น */

.selected {
    background-image: linear-gradient(to right, rgb(0, 27, 190), rgb(0, 27, 190));
}

.item:hover {
    background-color: rgba(48, 48, 48, .8);
    color: #fff
}

.banitem:hover {
    background-color: rgba(82, 82, 82, .8);
    color: #fff
}

.item span {
    float: left;
    margin-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.bannedplayer {
    width: 140px
}

.banitem .time {
    color: #ffffff !important;
    width: 140px;
    font-weight: 700
}

.banitem .reason {
    padding-right: 10px;
    width: 250px
}

.banitem span {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.playerid {
    display: inline-block;
    min-width: 22px;
    padding: 2px 5px;
    line-height: 22px;
    border-radius: 25px;
    background-color: #fff;
    color: #292929;
    text-align: center
}

.menutitle {
    display: block;
    flex: 1;
    height: 65px;
    line-height: 65px;
    font-weight: 700;
    width: 335px;
}

.K-menutitle {
    display: block;
    padding: 0.3rem 0.5rem;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700px;
}

.headername {
    display: none;
    padding-left: 15px;
    color: #818181
}

.sectiontitle {
    display: block;
    width: 100%;
    margin-top: 10px;
    color: #fff;
    text-align: center
}

.hl {
    width: 100%;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff
}

.btn .fas {
    font-size: 24px !important;
    display: block;
    width: 100%;
    padding-bottom: 10px
}

.description {
    color: #fff;
    padding-left: 10px
}

input,
select {
    background-color: rgba(44, 44, 44, .8);
    border: 1px solid #a5a5a5;
    width: 50px;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    border-radius: 24px
}

.dropdown {
    width: 200px;
    border-radius: 5px
}

#row {
    text-align: center;
}

.button {
    background-color: transparent;
    border: none;
    float: left;
    display: block;
    font-size: 16px;
    height: 65px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    outline: 0
}

.button:hover {
    background-color: rgba(120, 120, 120, .2);
    color: #fff
}

.btn.confirm {
    /* !important */
    background-color: #ffffff;
    color: #ffffff;
    width: 100px;
    height: 30px;
    /*height: auto;*/
    /*padding: 10px*/
}

#datainput {
    background-color: rgba(101, 101, 101, .8);
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    float: center
}

#datainput::-webkit-input-placeholder,
#search::-webkit-input-placeholder {
    color: #c8c8c8;
}


#inputtitle {
    width: 100%;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff
}

#buttonwrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

#confirmaction,
#inputmanager {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(24px);
    background-color: #1c1c2b;
    z-index: 1
}

#inputwrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#confirminput {
    background-color: #ffffff;
    margin-top: 10px
}

#confirm {
    background-color: #fff;
    color: #000 !important;
    width: 127px;
    height: 80px;
}

#cancelinput,
#confirm,
#confirminput {
    background-color: #ffffff;
    margin-top: 10px;
    margin-right: 15px;
    color: #fff;
    padding: 10px 15px
}

#button:hover,
.back:hover {
    background-color: rgba(120, 120, 120, .2)
}

#perms {
    margin-top: 10px
}

#info {
    font-family: 'Kanit', sans-serif;
    background-color: rgba(0, 0, 0, 0.664);
    color: #fff;
    margin-bottom: 0px;
    padding-bottom: 5px;
    letter-spacing: normal;
    border-radius: 10px;
}

#info .inner {
    padding-left: 15px
}

#info .titlebox {
    color: #ffffff;
    font-size: 18px;
    padding: 15px;
    text-align: left
}

.title {
    display: inline-block;
    width: 120px;
    padding-right: 5px;
    padding-left: 15px;
    color: #ffffff
}

.back {
    position: relative;
    display: none;
    margin-top: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 5px;
    z-index: 2;
    font-weight: 400;
    float: right
}

#button {
    background-color: rgba(80, 80, 80, .8);
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    float: right
}

.help #button {
    margin: 0
}

#bans,
#items,
#vehicles,
#peds {
    display: none;
    height: calc(100% - 80px)
}

#bans,
#items,
#vehicles,
#peds{
    display: none;
    justify-content: center;
    background-color: rgba(26, 26, 26, 0.5);
    border-radius: 10px;
    height: 600px;
    margin: 1rem;
}


/*
#weapons{
    height: 600px;
    overflow: hidden

    display: none;


    height: calc(100% - 65px)
    background-color: rgba(26, 26, 26, 0.5); 
    margin: 1rem;
    padding: 0.5rem 0.7rem;

    height: 600px;
}

#weapons #weaponlist {
    background-color: rgba(26, 26, 26, 0.5);  
    margin: 1rem; 
    padding: 0.5rem 0.7rem;
    
}
*/

#itemlist,
#vehiclelist,
#weaponlist,
#pedlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    height: calc(100% - 80px);
    overflow-x: scroll;
    overflow-x: hidden
}

#banlist {
    height: calc(100% - 85px);
    overflow-x: scroll;
    overflow-x: hidden
}

#itemamount {
    width: 100%;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff
}

#inventoryitemwrap {
    margin: 5px
}

.inventoryitem {
    background-color: rgba(82, 82, 82, .4);
    width: 120px;
    height: 150px;
    transition: .2s;
    -webkit-transform: scale(1);
    transform: scale(1);
    overflow: hidden;
    border-radius: 10px
}

.inventoryitem:active {
    transition: .1s;
    background-color: #ffffff
}

.inventoryitem:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.name {
    display: block;
    color: #fff;
    overflow: hidden;
    text-align: center;
    font-size: 14px
}

.inventoryitem .img {
    position: relative;
    height: 120px
}

.inventoryitem img {
    display: block;
    margin: auto
}

.help {
    color: #fff;
    text-align: center
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.coords {
    display: inline-block;
    font-size: 24px;
    margin-bottom: 10px
}

.clipboard {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border-radius: 5px
}

.clipboard:hover {
    background-color: #fff;
    color: #242424
}

.drag {
    border: 2px dashed #848484 !important
}