@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit',sans-serif;
}

body {
    overflow: hidden;
    user-select: none;
}

#body {
    display: none;
    animation: start 0.5s ease 1;
}

/* ส่วนหลักสกอบอร๋ด */

.Container {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 52%;
    top: 13%;
}

.logo {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: -3%;
    width: 13vh;
    height: 13vh;
}

@keyframes start {
    0% {
        transform: translateY(-5vh);
    }
    50% {
        transform: translateY(13vh);
    }
    75% {
        transform: translateY(14vh);
    }
    100% {
        transform: translateY(13vh);
    }
}

.scoreboard {
    position: relative;
    width: 78vh;
    height: 24vh;
    border-top-right-radius: 15vh;
    border-bottom-right-radius: 15vh;
    border: solid 1vh rgb(32, 32, 37);
    border-right: solid 1.2vh #001bbe;
    background-color: rgb(21, 21, 24);
    scale: 0.55;
}


.scoreboard_inner {
    position: relative;
    width: 78vh;
    height: 24vh;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    /* border: solid 0.3vh rgb(32, 32, 37);
    background-color: rgb(21, 21, 24); */
}

.scoreboard_inner_profile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: -45deg;
    transform: translate(-50%,-50%);
    left: 2.2%;
    top: 0%;
    width: 22vh;
    height: 22vh;
    border-radius: 1.5vh;
    border: solid 0.8vh rgb(29, 29, 32);
    border-bottom: solid 0.8vh #001bbe;
    border-left: solid 0.8vh #001bbe;
    background-color: rgb(18, 18, 20);
}


#Profile-Player {
    width: 75%;
    height: 75%;
    rotate: 45deg;
    border: solid 0.5vh #001bbe;
    border-radius: 50%;
}

.circle-dot {
    position: relative;
    display: flex;
    flex-direction: row;
    top: -24.7vh;
    left: 40vh;
}

.dot {
    position: relative;
    width: 1.3vh;
    height: 1.3vh;
    margin: 0.5vh;
    box-shadow: 0 0 1vh #001bbe;
    background-color: #001bbe;
    border-radius: 50%;
}

#d1 {
    animation: d1 2s ease infinite;
}

#d2 {
    animation: d2 2s ease infinite;
}

#d3 {
    animation: d3 2s ease infinite;
}



.boxTime {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    transform: translate(-50%,-50%);
    top: 97%;
    left: 65%;
    width: 27vh;
    height: 4.5vh;
    border-radius: 15vh;
    border: solid 0.5vh rgb(32, 32, 37);
    border-right: solid 0.5vh #001bbe;
    border-left: solid 0.5vh #ffffff;
    background-color: rgb(16, 16, 20);
}

.boxTime i {
    padding: 0 1vh;
    font-size: 1.8vh;
    color: #001bbe;
}

.boxTime div {
    font-size: 1.8vh;
    color: white;
    font-weight: bold;
}

.boxOnline {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    transform: translate(-50%,-50%);
    top: 97%;
    left: 25%;
    width: 27vh;
    height: 4.5vh;
    border-radius: 15vh;
    border: solid 0.5vh rgb(32, 32, 37);
    border-left: solid 0.5vh #001bbe;
    border-right: solid 0.5vh #ffffff;
    background-color: rgb(16, 16, 20);
}

.boxOnline i {
    font-size: 2.1vh;
    color: #001bbe;
}

.boxOnline div {
    padding: 0 1vh;
    font-weight: bold;
    font-size: 2.1vh;
    color: white;
}

.boxID {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    transform: translate(-50%,-50%);
    top: -2%;
    left: 16%;
    width: 17vh;
    height: 4vh;
    border-radius: 15vh;
    border: solid 0.5vh rgb(32, 32, 37);
    background-color: rgb(16, 16, 20);
}

.boxID i {
    padding: 0 1vh;
    font-size: 2.1vh;
    color: #001bbe;
}

.boxID div {
    font-weight: bold;
    font-size: 2.1vh;
    color: white;
}

.boxPing {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    transform: translate(-50%,-50%);
    top: -2%;
    left: 40%;
    width: 18vh;
    height: 4vh;
    border-radius: 15vh;
    border: solid 0.5vh rgb(32, 32, 37);
    background-color: rgb(16, 16, 20);
}

.boxPing i {
    font-size: 2.1vh;
    color: rgb(55, 255, 36);
}

.boxPing div {
    padding: 0 1vh;
    font-weight: bold;
    font-size: 2.1vh;
    color: rgb(55, 255, 36);
}

.Information {
    position: relative;
    text-align: left;
    align-items: center;
    display: block;
    line-height: 4.5vh;
    top: 2.9vh;
    left: 14vh;
    width: 35vh;
    height: 5.2vh;
    margin: 1vh;
    font-size: 2.1vh;
    border: solid 0.4vh rgb(41, 41, 48);
    background-color: rgb(32, 32, 37);
    border-radius: 15vh;
    font-weight: bold;
}

.Label {
    position: relative;
    display: flex;
    margin: 0 5vh;
    color: #001bbe;
    font-weight: bold;
}

.Player {
    color: white;
    font-weight: bold;
    margin: 0 0.5vh;
}


.icon {
    position: relative;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    width: 3vh;
    height: 3vh;
    font-size: 1.4vh;
    border-radius: 50%;
    color: white;
    z-index: 1;
    margin: -3.8vh 1vh;
    background-color: #001bbe;
}

.Agention {
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    top: -17.5vh;
    left: 51.5vh;
    width: 16vh;
    height: 5vh;
    margin: 1.6vh;
    border: solid 0.5vh rgb(25, 25, 27);
    border-right: solid 0.5vh #ffffff;
    background-color: rgb(14, 14, 15);
    border-radius: 15vh;
    font-weight: bold;
}

.Agention div {
    font-size: 2.1vh;
    color: #001bbe;
}

.agen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    top: 65%;
    left: -8%;
    width: 5.5vh;
    height: 5.5vh;
    border-radius: 0.5vh;
    border: solid 0.5vh #001bbe;
    background-color: #001bbe;
}

.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5vh;
    height: 4.5vh;
    background-color: #001bbe;
    border-radius: 50%;
}

.circle img {
    width: 75%;
}

@keyframes d1 {
    0% {
        opacity: 0.2;
    }
    25% {
        opacity: 1;
    }
}

@keyframes d2 {
    25% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

@keyframes d3 {
    50% {
        opacity: 0.2;
    }
    75% {
        opacity: 1;
    }
}


@keyframes scale {
    0% {
        scale: 1;
    }
    50% {
        scale: 0.95;
    }
    100% {
        scale: 1;
    }
}
