@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,500;1,300&display=swap');
body,
html {
    margin: 0;
    padding: 0;
    background-color: transparent;
}
* {
    font-family: Prompt;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}
:root {
    --bg-black-color: rgba(0, 0, 0, 0.4);
}
.container {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.btn {
    padding: 3px;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 0;
}
.shop-fullbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 910px;
    max-width: 100%;
    max-height: 100vh;
    height: 100vh;
}

.shop-header {
    line-height: 30px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}
.shop-items-list {
    padding: 10px;
    max-height: 625px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow: auto;
}
.item-image {
    padding: 5px;
    text-align: center;
    max-height: 128px;
    height: 128px;
}
.item-image img {
    height: 100%;
    max-width: 100%;
}
.item-info {
    padding: 4px;
    text-align: center;
    background: linear-gradient(90deg, rgba(0, 27, 190) 0%, rgba(0, 27, 190) 50%, rgba(0, 27, 190) 100%);
    font-size: 15px;
    margin: 3px;
}
.item-select-count {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
}
.item-select-count-show {
    font-size: 18px;
    background-color: var(--bg-black-color);
    border-radius: 15px;
    width: 100%;
    margin: 5px;
    text-align: center;
    padding: 5px;
}
.item-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
}
.item-price-account-name-image {
    max-width: 25px;
    height: 25px;
}
.item-price-account-name-image img {
    height: 100%;
    width: 100%;
}
.item-price-account-name-image span {
    font-size: 20px;
}
.item-price-result {
    text-align: center;
    padding: 3px;
}
.span-price-green {
    color: #001bbe;
}
.span-price-red {
    color: #001bbe;
}
.item-action {
    padding: 5px;
}
.fade-in-bottom {
    -webkit-animation: fade-in-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
