@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    user-select: none;
	-o-user-select:none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
    overflow: hidden;
    transform: scale(0.7);
}

.container{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
}

.background{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 700px;
    background-color: rgba(31,31,31);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-top: 1px solid rgb(57, 57, 57);
    border-bottom: 1px solid rgb(57, 57, 57);
    border-radius: 10px;
}

.logo-bg {
    width: 350px;
    height: 100px;
}

.logo-bg img {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.logo-bg p {
    position: absolute;
    top: -3%;
    color: #fff;
    font-weight: bold;
    /*text-shadow: 2px 2px 3px #000000;*/
    font-size: 32px;
    margin-left: 98px;
}

.logo-bg span {
    position: absolute;
    top: 7.5%;
    color: rgba(255,255,255,0.5);;
    /*text-shadow: 2px 2px 3px #000000;*/
    font-size: 18px;
    margin-left: 98px;
}

.searchicon {
    position: absolute;
    top: 2%;
    right: -18%;
    color: #fff;
    font-size: 24px;
    padding: 11px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(120, 194, 255);
}

.serach-bg {
    position: absolute;
    top: 2%;
    right: 6%;
    width: 200px;
    height: 50px;
}

#myInput {
    position: absolute;
    font-family: 'Kanit', sans-serif;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: none;
    outline: none;
    width: 180px;
    height: 40px;
    font-size: 16px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
    padding: 12px 20px 12px 12px;
    color: #fff;
    background-color: rgba(54,53,58);
}

.caselabel {
    position: absolute;
    top: 0%;
    left: -28%;
    width: 180px;
    height: 210px;
    background-color: rgba(31,31,31);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-top: 1px solid rgb(57, 57, 57);
    border-bottom: 1px solid rgb(57, 57, 57);
    border-radius: 10px;
}

.case-bg {
    position: relative;
    display: inline-block;
}

.case-bg i {
    /*text-shadow: 2px 2px 3px #000000;*/
    font-size: 15px;
    padding-left: 15px;
}

.case-bg p {
    display: inline-block;
    color: rgba(255,255,255,0.5);;
    /*text-shadow: 2px 2px 3px #000000;*/
    font-size: 15px;
    padding-right: 10px;
}

.caseall-bg {
    position: relative;
    top: 0px;
    left: 10px;
    height: 590px;
    width: 680px;
    border-radius: 10px;
    background-color: rgba(54,53,58);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-top: 1px solid rgb(57, 57, 57);
    border-bottom: 1px solid rgb(57, 57, 57);
    overflow: scroll;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgba(206, 206, 206, 0); 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(120, 194, 255, 0.747); 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(120, 194, 255, 1); 
}

.case-box {
    margin: 5px;
    height: 60px;
    width: 660px;
    background-color: rgba(31,31,31);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-top: 1px solid rgb(57, 57, 57);
    border-bottom: 1px solid rgb(57, 57, 57);
}

.case-box1 {
    position: absolute;
    height: 60px;
    width: 80px;
    /* background-color: #fff; */
}

.case-box2 {
    position: absolute;
    height: 60px;
    width: 200px;
    left: 90px;
    /* background-color: rgba(124, 124, 124, 0.95); */
}

.case-box3 {
    position: absolute;
    height: 60px;
    width: 180px;
    left: 290px;
    /* background-color: rgba(155, 96, 96, 0.95); */
}

.case-box4 {
    position: absolute;
    height: 60px;
    width: 190px;
    left: 475px;
    /* background-color: rgba(255, 0, 0, 0.95); */
}

.case-box1 i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /*text-shadow: 2px 2px 3px #000000;*/
    font-size: 28px;
}

.waitcase-text {
    color: #FCEE9E;
}

.commingcase-text {
    color: #c7c9ee;
}

.successcase-text {
    color: #ADD495;
}

.case-phone-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 45px;
    width: 200px;
    transition: .2s ease;
    border-radius: 8px;
    background-color: rgba(54,53,58, 0.95);
}

.case-phone-box:hover {
    cursor: pointer;
    transition: .2s ease;
    font-weight: bold;
    background-color: rgb(54,53,58);
}

.case-phone-box p {
    text-align: center;
    color: #fff;
    /*text-shadow: 2px 2px 3px #000000;*/
    font-size: 16px;
    /* background-color: #000000; */
}

.owner-case-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 45px;
    width: 180px;
}

.owner-case-box p {
    text-align: center;
    color: rgba(120, 194, 255);
    /*text-shadow: 2px 2px 3px #000000;*/
    font-size: 14px;
    padding: 5px 10px;
    background-color: rgba(40, 43, 50, 0.95);
    border-radius: 8px;
}

.consoleBtnbox{
    display: inline-block;
    width: 60px;
    height: 100%;
    margin-top: 5px;
    /* background-color: #000000; */
}

.consoleBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.consoleBtn button{
    border: none;
    outline: none;
    width: 60px;
    height: 50px;
    transition: .2s ease;
    border-radius: 5px;
    /* background: rgba(71, 71, 71, 0.95); */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
}
.consoleBtn button:hover{
    cursor: pointer;
    transition: .2s ease;
    font-weight: bold;
    transform: scale(1.1);
}
.consoleBtn i{
    color: rgb(223, 223, 223);
    font-size: 28px;
}

.consoleBtn-accepte {
    background: rgba(120, 194, 255, 0.95);
}

.consoleBtn-accepte2 {
    background: rgba(73, 73, 73, 0.95);
}

.consoleBtn-suscess {
    background: rgba(120, 194, 255, 0.95);
}

.consoleBtn-delete {
    background: rgba(120, 194, 255, 0.95);
}

.consoleBtn-accepte:hover {
    background: rgb(120, 194, 255);
}

.consoleBtn-accepte2:hover {
    background: rgb(73, 73, 73);
}

.consoleBtn-suscess:hover {
    background: rgba(120, 194, 255, 1);
}

.consoleBtn-delete:hover {
    background: rgba(120, 194, 255, 1);
}