@font-face {
	font-family: bankgothic;
	src: url('../fonts/bankgothic.ttf');
}

@font-face {
	font-family: Kanit300;
	src: url('../fonts/Kanit-Light.ttf');
}

@font-face {
	font-family: pcdown;
	src: url('../fonts/pdown.ttf');
}

#controls {
	font-family: pcdown;
	font-size: 3em;
	color: #FFF;
	position: absolute;
	bottom: 40;
	right: 40;
}

.controls {
	display: none;
}

.dialog {
	font-family: Kanit300;
	font-size: 2vh;
	color: #fff;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 150px;
	transform: translate(-50%, -50%);
	background-color: rgba(30, 32, 34, 0.5);
	border-radius: 10px;
}

.border {
	/* border-radius: 20px;
	border-style: solid;
	border-width: 2px; */
	/* border-color: rgb(255, 255, 255); */
}

.dialog.big {
	height: 200px;
}

.dialog .head {
  /* background: linear-gradient(47deg, rgba(180,21,21,1) 0%, rgba(233,81,81,1) 51%, rgba(180,21,21,1) 100%); */
  background-color: rgba(30, 32, 34, 0.8);
  text-align: center;
	height: 40px;
	border-radius: 5px 5px 0px 0px;
	text-shadow: 1px 1px black;
	/* border-bottom: 1px solid #eee; */
	margin-bottom: 7px;
}

.dialog .head span:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.dialog input[type="text"] {
	width: 100%;
	height: 40px;
	font-size: 2vh;
	font-family: Kanit300;
	border-radius: 0px 0px 5px 5px;
    background-color: rgba(30, 32, 34, 0.8);
	text-align: center;
	outline:0px;
	border-width: 0ch;
	color: #FFF;
}

.dialog textarea {
	width: 100%;
	height: 128px;
	color: #FFF;
}

.btnpanel {
	text-align: center;
}

.dialog button[name="submit"] {
	font-size: 1.5vh;
	font-family: Kanit300;
	color: #FFF;
	width: 25%;
	height: 32px;
	border-radius: 10px;
	border:none;

	/* border-style: solid;
	border-width: 1px;
	border-color: rgb(255, 255, 255); */
	/* background: -webkit-linear-gradient(-45deg, rgb(89, 219, 72) 0%,rgb(46, 187, 46) 100%); */
	background-color: rgba(30, 32, 34, 0.8);

	margin-top: 10px;
	margin-right: 25px;
}

.dialog button[name="cancel"] {
	font-size: 1.5vh;
	font-family: Kanit300;
	color: #FFF;
	width: 25%;
	height: 32px;
	border-radius: 10px;
	border:none;
	/* border-style: solid;
	border-width: .5px;
	border-color: #eee; */
	/* background: -webkit-linear-gradient(-45deg, rgb(206, 52, 52) 0%,rgb(187, 46, 46) 100%); */
	background-color: rgba(30, 32, 34, 0.8);

	margin-top: 10px;
	margin-left: 25px;
}

.dialog button[name="submit"]:hover{
	background: linear-gradient(to right, rgb(0, 27, 190), rgb(0, 27, 190));

}
.dialog button[name="cancel"]:hover{
	background: linear-gradient(to right, rgb(0, 27, 190), rgb(0, 27, 190));

}