@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');
* {
    font-family: 'Kanit', sans-serif;
    cursor: default;
}

body {
    padding: 0px;
    margin: 0px;
}

.dev-job-container {
    margin: 0px 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.dev-job-inner {
    position: absolute;
    border-radius: 5px;
    top: 25%;
    left: 15px;
    width: 270px;
    /* width: 32vh; */
    background-color: rgb(40, 40, 40);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.dev-job-header img {
    cursor: pointer !important;
}

.dev-job-header {
    cursor: pointer !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(90deg,rgb(0, 27, 190),rgb(0, 27, 190),rgb(0, 27, 190));
    padding: 10px;
}

.process {
    background: linear-gradient(90deg,rgb(0, 27, 190),rgb(0, 27, 190),rgb(0, 27, 190));
}

.dev-job-header>.dev-job-title span {
    cursor: pointer;
    margin-left: 15px;
}

.dev-job-header>.dev-job-title {
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    margin: 0px 5px;
    display: flex;
    align-items: center;
}

.dev-job-progress {
    width: 0%;
    border-radius: 5px;
    border-bottom: 4px solid rgb(0, 27, 190);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.dev-job-footer {
    display: block;
    background-color: rgba(0, 0, 0, 0.151);
    padding-top: 3px;
    padding-bottom: 3px;
}

.dev-job-card>.dev-job-item>.dev-job-text p {
    margin: 0px;
}

.dev-job-card {
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

div.hover {
    height: 90px;
    padding: 5px;
    margin: 7px;
}

.dev-job-spacial-item.inner-sp>.dev-job-itemmore {
    height: 50px;
}

.dev-job-spacial-item.inner-sp>span {
    display: inline;
    opacity: 1;
}

.dev-job-inner:hover .dev-job-itemmore {
    height: 50px;
}

.dev-job-inner:hover .dev-job-spacial-item span {
    display: inline;
    opacity: 1;
}

.dev-job-inner:hover .dev-job-item {
    height: 90px;
    padding: 5px;
    margin: 7px;
}

.dev-job-item {
    z-index: 1;
    display: flex;
    background-color: rgba(0, 7, 12, 0.233);
    width: 90%;
    height: 0px;
    justify-content: space-around;
    align-items: center;
    float: left;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.dev-job-spacial-item {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.144);
}

.dev-job-spacial-item span {
    display: none;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    font-size: 10px;
    margin: 5px;
    text-shadow: 0px 0px 7px rgb(255, 255, 255);
    white-space: nowrap;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.dev-job-itemmore::-webkit-scrollbar {
    height: 7px;
    scrollbar-color: #292929;
    scrollbar-width: thin;
    background: #606060;
}

.dev-job-itemmore::-webkit-scrollbar-thumb {
    background: #292929;
    scrollbar-width: thin;
}

.dev-job-itemmore::-webkit-scrollbar-thumb:hover {
    background: #999999;
    scrollbar-width: thin;
}

.dev-job-itemmore img {
    margin: 2px;
    padding: 2px;
    background-color: rgba(27, 26, 26, 0.39);
    box-shadow: currentColor 0px 1px 0px rgba(255, 255, 255);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.dev-job-itemmore {
    scrollbar-color: #606060 #393939;
    scrollbar-width: thin;
    background: rgba(28, 28, 28, 0.7);
    height: 0px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: inline-block;
    z-index: 15;
    float: left;
    white-space: nowrap;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.dev-job-pic {
    display: flex;
    background-color: rgb(44, 44, 44);
    justify-items: center;
    align-items: center;
    justify-content: center;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}

.dev-job-text .dev-job-title {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    align-items: center;
    white-space: nowrap;
}

.dev-job-value {
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
}

.dev-job-detail {
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
}

.dev-process-value {
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
}

.dev-process-value {
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
}

.dev-job-text {
    display: block;
    align-items: center;
    align-content: center;
}

.dev-process-detail p {
    border: 1px solid rgba(0, 0, 0, 0.979);
    background-color: #07070781;
    font-size: 13px;
    text-align: center;
    display: block;
    padding: 3px;
    margin: 3px;
    color: #fff;
    cursor: pointer !important;
}

.dev-process-subject p {
    display: block;
    font-size: 12px;
    padding: 5px;
    margin: 0px;
    background-color: #2929291f;
    color: #d8d8d8;
    text-align: center;
}

.dev-process-listitem {
    display: grid;
    justify-items: center;
    justify-content: center;
    width: 100%;
    grid-template: auto / auto auto auto;
    grid-gap: 10px;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    color: #fff;
}

.dev-process-item:hover>.dev-process-pic {
    background-color: #00000041;
    border-top: 1px solid #ffffff4d;
    border-bottom: 1px solid #ffffff4d;
}

.dev-process-item {
    border: 0.5px solid #00000023;
    background-color: #0000000e;
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    padding: 7px;
    -webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -ms-border-radius: 7px 7px 0px 0px;
    -o-border-radius: 7px 7px 0px 0px;
}

.dev-process-detail {
    cursor: pointer !important;
}

.dev-processing {
    height: 100%;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dev-process-pic {
    /*background-color: #00000017;
    */
    border-top: 0.5px solid #ebebeb4d;
    border-bottom: 0.5px solid #ebebeb4d;
    border-radius: 15px;
    padding: -2px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
}

/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');

* {
	font-family: Kanit;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    z-index: -999;
    display: none;
}

.main-content {
    position: absolute;
    left: 7.0%;
    top: 60%;
    transform: translate(-50%, -50%);
	background: rgba(25, 25, 25, .7);
    width: 230px;
    height: 150px;
    border-radius: 6px;
    border: 0;
}

.header {
    display: flex;
    color: white;
    font-size: 16px;
    height: 20%;
    display: flex;
    border-radius: 6px 6px 0px 0px;
    align-items: center;
    justify-items: center;
    border: 0;
    background-color: rgba(25,25,25,0.7);
    padding: 0px 10px;
}

.item-process {
    height: 40%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;

}

.after-process,.before-process {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 55%;
	background: rgba(115, 115, 115, 0.5);
    border: 0;
    border-radius: 6px;
}
img {
    width: 20px;
    max-height: 30px;
}

.fa {
    font-size: 15px;
    color: white;
}

.load {
    width: 100%;
    height: 17%;
}

.process-bar-box {
    width: 100%;
    height: 17%;
    padding-left: 15px;
    padding-right: 15px;
}

.process-bar {
    width: -1%;
    background:linear-gradient(90deg,rgb(129,13,207) 0%,rgb(129,13,207) 100%);
    height: 6px;
    border-radius: 3px;
    padding: 2px;
}
.main-footer {
    width: 100%;
    display: flex;
    height: 14%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.footer {
    color: white;
    font-size: 14px;
    height: 100%;
    text-align: center;
	background: rgba(115, 115, 115, 0.5);
    width: 80%;
    border: 0;
    border-radius: 6px;
}

.main-bonus {
    position: absolute;
    left: 7.0%;
    top: 75%;
    transform: translate(-50%, -50%);
	background: rgba(25, 25, 25, .7);
    width: 230px;
    height: 105px;
    display: none;
    border-radius: 6px;
    border: 0;
}

.main-bonus-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5.5% 1.5%;
    grid-auto-rows: 0fr;
    padding: 10px 7px;
}

.slot-bonus {
	background: rgba(115, 115, 115, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.stp-slot-img {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stp-slot-img-req {
    width: 100%;
    height: 100%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
} */
