<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container"> <!-- container -->
        <div class="shop">
            <div class="header">
                <ion-icon name="grid-outline"></ion-icon> Car Management <span id="headerText">(Car)</span>
            </div>
            <div class="items">

                <div class="item">
                    <div class="label">
                        <div class="data-side">
                            <div class="data-title">
                                <div class="plate">BMJ 057</div>
                                <div class="model">(BESTIAGTS)</div>
                            </div>
                            <div class="data-submeta">
                                <div class="engine flex"><ion-icon name="build-outline"></ion-icon> Engine: 100</div>
                                <div class="fuel flex"><ion-icon name="water-outline"></ion-icon> Gas: 41</div>
                                <div class="body flex"><ion-icon name="car-sport-outline"></ion-icon> Body: 99.6</div>
                            </div>
                        </div>
                        <button type="button" class="btn" onclick="car('1. ADO 057', 'undefined')">
                            <ion-icon name="arrow-forward-circle" class="first-check"></ion-icon> 
                            <ion-icon name="arrow-forward-circle-outline" class="second-check"></ion-icon>
                            เบิก
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).keyup((e) => {
            if (e.key === 'Escape') {
                $('.items').empty();
                $('.container').fadeOut(100);
                $.post('http://esx_advancedgarage/focusOff');
            }
        });
    </script>
</body>
</html>