@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@450;500&display=swap"); 
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    /* font-family: "Prompt", sans-serif; */
    color: rgb(214, 212, 212);
    user-select: none;
    font-size: 1.2vh;
    font-style: normal;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    justify-content: center;
    transition: transform 0.5s ease;
}

.Hud {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.Box-Mains {
    position: relative;
    min-width: 33vh;
    height: 17vh;
    zoom: 88%;
}

.Box-Wire {
    display: flex;
    position: relative;
    /* width: 44vh; */
    height: 17vh;
    filter: drop-shadow(rgba(19, 18, 18, 0.192) 0vh 0px 1vh);
    background-color: rgba(29, 29, 29, 0.897);
    border-radius: 1.4vh;
    padding-right: 4vh;
    min-width: 33vh;
    top: 46vh;
}

.Wire {
    display: flex;
    position: relative;
    /* width: 44vh; */
    height: 17.2vh;
    left: -0.5vh;
    min-width: 36vh;
}

.Box-miain-item {
    position: relative;
    /* background-color: rebeccapurple; */
    left: 1vh;
    /* width: 12vh; */
    height: 17vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

.Log-mian-item {
    position: relative;
    width: 10vh;
    height: 12.6vh;
    filter: drop-shadow(rgba(19, 18, 18, 0.192) 0vh 0px 1vh);
    background-color: rgba(29, 29, 29, 0.897);
    border-radius: 1vh;
    top: 2vh;
    left: 1vh;
}

.Box-Textdown {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: baseline;
    z-index: 9999999999999;
    top: -8.3vh;
    font-size: 1.4vh;
    filter: drop-shadow(rgba(26, 26, 26, 0.76) 0px 0px 1vh);
    zoom: 86%;
}

.text-bottom {
    display: flex;
    position: relative;
    width: 100%;
}

.fa-cube {
    position: relative;
    font-size: 1vh;
    left: -0.2vh;
}

.fa-box {
    position: relative;
    font-size: 1vh;
    left: -0.2vh;
}

.max-item {
    position: relative;
    font-size: 1.2vh;
    top: 0.5vh;
    left: 1vh;
}

.count-item {
    position: relative;
    font-size: 1.2vh;
    top: 0.5vh;
    width: 72%;
    text-align: end;
}

.Img-mian-item {
    position: relative;
    height: 8vh;
    width: 8vh;
    left: 1vh;
    top: 1vh;
}

.Img-mian-item img {
    position: relative;
    height: 6vh;
    width: 6vh;
    left: 1vh;
}

.Name-mian-item {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1vh;
}

.hrls {
    position: relative;
    height: 10vh;
    width: 0.3vh;
    background-color: #5d5d5d2d;
    left: 1.65vh;
    top: 3.25vh;
    border-radius: 100vh;
}

.Box-bonus-item {
    position: relative;
    left: 3vh;
    /* width: 30vh; */
    height: 17vh;
}

.fa-circle-down {
    font-size: 1vh;
    position: relative;
    color: #999999;
    left: -0.2vh;
}

.text-bonus {
    position: relative;
    font-size: 1vh;
    color: #999999;
    top: 1.5vh;
    left: vh;
}

.box-bonus-s {
    display: inline-block;
    position: relative;
    /* width: 28vh; */
    height: 10vh;
    top: 1.7vh;
}

.Log-bonus-item {
    display: inline-grid;
    position: relative;
    width: 4.6vh;
    height: 9.5vh;
    filter: drop-shadow(rgba(19, 18, 18, 0.192) 0vh 0px 1vh);
    background-color: rgba(75, 75, 75, 0.548);
    border-radius: 0.6vh;
    margin-top: 0.5vh;
    margin-left: 0.4vh;
    left: 0;
    justify-content: center;
}

.Log-bonus-item img {
    position: relative;
    width: 2.8vh;
    height: 2.8vh;
    /* left: 0.6vh; */
    top: 0.7vh;
}


.s {
    color: #999999;
    position: relative;
    left: 11.5vh;
}

.Box-Textdown {
    display: flex;
    position: absolute;
    top: 17.6vh;
    width: 100%;
    align-items: baseline;
    color: #999999;
    z-index: 9999999999999;
    zoom: 75%;
}

.Box-Textdown span {
    display: flex;
    position: relative;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    background: #161616;
    /* top: -1.5vh; */
    margin: 1vh;
    border-radius: 0.5vh;
    color: rgb(12, 128, 236);
}



.loader-dot {
    zoom: 52%;
    position: relative;
    width: 1vh;
    height: 1vh;
    border-radius: 0.6vh;
    left: 4vh;
    top: 3vh;
    background-color: rgba(12, 128, 236, 0.541);
    color: rgba(12, 128, 236, 0.541);
    animation: dot 1s infinite linear alternate;
    animation-delay: .2s;
    filter: drop-shadow(rgba(12, 128, 236, 0.624) 0vh 0px 3vh);
  }
  
  .loader-dot::before,
  .loader-dot::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  
  .loader-dot::before {
    left: -1.4vh;
    width: 1vh;
    height: 1vh;
    border-radius: 1vh;
    background-color: rgba(12, 128, 236, 0.541);
    color: rgba(12, 128, 236, 0.541);
    animation: dot 1s infinite alternate;
    animation-delay: 0s;
  }
  
  .loader-dot::after {
    left: 1.4vh;
    width: 1vh;
    height: 1vh;
    border-radius: 1vh;
    background-color: rgba(12, 128, 236, 0.541);
    color: rgba(12, 128, 236, 0.541);
    animation: dot 1s infinite alternate;
    animation-delay: .2s;
  }
  

@keyframes dot {
    0% {
        background-color: rgba(12, 128, 236, 0.541);
    }
  
    50%,
    100% {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.hrl-l {
    position: relative;
    background-color: rgb(12, 128, 236);
    width: 0.6vh;
    height: 8vh;
    border-radius: 0vh 1vh 1vh 0vh;
    top: 5vh;
    filter: drop-shadow(rgb(12, 128, 236, 0) 0px 0px 3vh);
}


.hrl-r {
    position: relative;
    background-color: rgb(12, 128, 236);
    width: 0.6vh;
    height: 8vh;
    border-radius: 1vh 0vh 0vh 1vh;
    top: 5vh;
    left: 4vh;
    filter: drop-shadow(rgb(12, 128, 236, 0) 0px 0px 3vh);
}

.fa-angles-down {
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 1.4vh;
    top: 0.6vh;
    color: #81818194;
}

.countitem {
    position: relative;
    display: flex;
    justify-content: center;
}

.hp {
    height: 0%;
    background-color: rgb(187, 187, 187);
    border-radius: 100vh;
}







.Log-mian-items {
    display: flex;
    position: relative;
    width: 15vh;
    /* background-color: rgba(75, 75, 75, 0.548); */
    height: 2.4vh;
    justify-content: left;
    align-items: center;
    top: 3.5vh;
    border-radius: 0.6vh;
}

.box-img {
    width: 2vh;
    height: 2vh;
    margin-left: 1vh;
}

.box-img img {
    width: 2vh;
    height: 2vh;
}

.Name-mian-items {
    display: flex;
    width: 8vh;
    justify-content: center;
    margin-left: 0.5vh;
}

.Name-mian-countitems {
    display: flex;
    position: relative;
    left: -0.5vh;
    justify-content: end;
    width: 3vh;
}

.fa-circle {
    position: relative;
    font-size: 0.3vh;
    filter: drop-shadow(rgba(230, 229, 229, 0.877) 0vh 0px 0.5vh);
}