.progress-container{
    display:none;
}
html{
    overflow:scroll;
}
::-webkit-scrollbar{
    width:0pt;
}
body{
    background:transparent;
}
.progress-container{
    z-index:5;
}
.progress-container{
    color:#fff;
}
.progress-container{
    font-family:Arial;
}
::-webkit-scrollbar{
    background:transparent;
}
.progress-container{
    width:15%;
}
.bg,.progress-container{
    position:fixed;
}
body{
    margin-left:0;
}
.progress-container{
    bottom:10%;
}
.progress-container,.bg{
    left:50%;
}
body{
    margin-bottom:0;
}
.progress-container,.bg{
    transform:translateX(-50%);
}
.bg{
    z-index:1;
}
.bg{
    height:150px;
}
.bg{
    width:18.75pc;
}
body{
    margin-right:0;
}
body{
    margin-top:0;
}
body{
    padding-left:0;
}
.bg{
    bottom:-1.5625in;
}
.bg{
    background-image:url("https://cdn.discordapp.com/attachments/905956681417105438/1087127164933128262/-01.png");
}
.bg{
    background-size:100%;
}
.bg{
    background-repeat:no-repeat;
}
body{
    padding-bottom:0;
}
[class~=progress-bar-container]{
    bottom:-.541666667in;
}
body{
    padding-right:0;
}
[class~=progress-bar-container]{
    left:-10px;
}
[class~=progress-bar-container]{
    width:90%;
}
body{
    padding-top:0;
}
[class~=progress-bar-container]{
    height:.9375pc;
}
[class~=progress-bar-container]{
    background-color:#000;
}
[class~=progress-bar-container]{
    border-radius:1.25pc;
}
[class~=progress-bar-container]{
    text-align:left;
}
[class~=progress-bar-container],body{
    overflow:hidden;
}
[class~=progress-bar-container]{
    margin-left:10%;
}
[class~=progress-bar-container]{
    position:absolute;
}
body,.progress-bar{
    width:100%;
}
.progress-bar{
    background: linear-gradient(45deg,rgb(0, 27, 190),rgb(0, 27, 190),rgb(0, 27, 190));
}
body,.progress-bar{
    height:100%;
}
.progress-bar{
    transition:width .3s;
}
.progress-bar{
    transition-timing-function:ease-out;
}
@keyframes animate-stripes{
    0%{
        background-position:0 0;
    }
    100%{
        background-position:60px 0;
    }
}
