@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@450;500&display=swap"); 
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    /* font-family: "Prompt", sans-serif; */
    color: rgb(214, 212, 212);
    user-select: none;
    font-size: 1.2vh;
    font-style: normal;
}

:root {
    --main: rgba(6, 123, 233, 0.541);
    --category: rgba(6, 123, 233, 0.541);

    /* HOTKEY */
    --click_hotkey: rgba(241, 165, 2, 0.5);
    --confirm_hotkey: rgba(111, 165, 2, 0.5);
    /* HOTKEY */
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    justify-content: center;
    /* background: radial-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0)); */
}

.Hud {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    zoom: 80%;
    transition: transform 0.5s ease; /* ค่าที่ทำให้การเปลี่ยนแปลงเป็นเรียบเนียน */
    transform-origin: right; /* ตั้งจุดขยายขนาดที่ด้านขวา */
}

.Box-Mains {
    position: relative;
    width: 38vh;
    height: 81vh;
    left: 79.45vh;
    /* top: -15vh; */
}

.Box-Blackjob {
    position: relative;
    width: 38vh;
    height: 81vh;
    justify-content: center;
    background-color: rgba(31, 31, 31, 0.884);
    border-radius: 2vh;
}

.Header {
    display: flex;
    position: relative;
    width: 100%;
    height: 6vh;
    /* background-color: rebeccapurple; */
}

.s img {
    position: absolute;
    width: 9vh;
}

.Icon {
    display: flex;
    position: relative;
    height: 7vh;
    width: 7vh;
    top: 1vh;
    left: 1vh;
    justify-content: center;
    align-items: center;
}

.Icon img {
    height: 8vh;
    filter: drop-shadow(rgb(148, 149, 150) 0px 0px 4vh);
}

.Text {
    display: grid;
    position: relative;
    top: 2vh;
    left: 1vh;
}

.up {
    position: relative;
    font-size: 2.4vh;
}

.down {
    position: relative;
    font-size: 1.2vh;
    top: -0.8vh;
    color: rgb(136, 133, 139);
}

.Box-Logs {
    position: relative;
    top: 0.5vh;
    width: 35vh;
    height: 62vh;
    left: 2vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.Logs {
    display: inline-flex;
    position: relative;
    width: 32.5vh;
    height: 5vh;
    background-color: rgba(71, 68, 68, 0.39);
    border-radius: 0.8vh;
    border: 0.1vh solid rgb(68, 68, 68);
    margin-top: 0.3vh;
    margin-left: 0.6vh;
    transition-duration: 0.1s;
}

.Logs:hover {
    transition-duration: 0.1s;
    position: relative;
    background-color: rgba(39, 39, 39, 0.863);
}

.Logs-s {
    display: inline-flex;
    position: relative;
    width: 32.5vh;
    height: 5vh;
    background-color: rgba(71, 68, 68, 0.39);
    border-radius: 0.8vh;
    border: 0.1vh solid rgb(68, 68, 68);
    margin-top: 0.3vh;
    margin-left: 0.6vh;
    transition: .5s;
}

.Logs-s:hover {
    transition: .5s;
    position: relative;
    background-color: rgba(39, 39, 39, 0.863);
}

.Logs:hover > .star {
    opacity: 1;
    transition-duration: 0.1s;
    cursor: pointer;
}

.Img-Check {
    border-radius: 0.6vh;
    display: flex;
    position: relative;
    width: 5vh;
    height: 4.5vh;
    margin-left: 0.15vh;
    top: 0.15vh;
    left: 0.05vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--main), #eeeeee00);
    /* filter: drop-shadow(rgba(241, 6, 6, 0.363) 0vh 0vh 0.5vh); */
    transition-duration: 0.6s;
}

.Logs:hover > .Img-Check {
    width: 5vh;
    transition-duration: 0.4s;
    background: linear-gradient(90deg, var(--main), #eeeeee00);
}

.Img-Check img {
    position: relative;
    width: 4vh;
    height: 4vh;
    top: -0.1vh;
}

.Img-Checks {
    border-radius: 0.6vh;
    display: flex;
    position: relative;
    width: 5vh;
    height: 4.55vh;
    margin-left: 0.15vh;
    top: 0.1vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--main), #eeeeee00);
    /* filter: drop-shadow(rgba(241, 6, 6, 0.363) 0vh 0vh 0.5vh); */
    transition-duration: 0.4s;
}

.Logs:hover > .Img-Checks {
    width: 5vh;
    transition-duration: 0.4s;
    background: linear-gradient(90deg, var(--main), #eeeeee00);
}

.Img-Checks img {
    position: relative;
    width: 4vh;
    height: 4vh;
    top: -0.1vh;
}


.Name-Check {
    display: grid;
    width: 22vh;
    position: relative;
    height: 5vh;
    /* justify-content: center; */
    /* align-items: center; */
    top: 0.8vh;
    left: 0.5vh;
}

.f {
    position: relative;
    font-size: 1vh;
}

.e {
    position: relative;
    top: -1vh;
    font-size: 1.4vh;
}

.Sell-Check {
    position: absolute;
    width: 4vh;
    top: 0.7vh;
    height: 3.4vh;
    left: 24vh;
    background: rgb(32, 32, 32);
    border-radius: 0.4vh;
}

.Box-Textdown {
    display: flex;
    position: absolute;
    top: 76vh;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    color: #c4c1c1;
    z-index: 9999999999999;
}

.Box-Textdown span {
    display: flex;
    position: relative;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    background: #161616;
    /* top: -1.5vh; */
    margin: 1vh;
    border-radius: 0.5vh;
    color: #0f7de4;
}

button {
    position: relative;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 0.5vh;
    width: 6vh;
    height: 3vh;
    transition: .3s;
    background-color: #3b82f6;
    color: #fff;
    top: 1vh;
    left: 3vh;
}
  
button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 5px #f63b3b;
    filter: drop-shadow(rgb(241, 6, 6) 0px 0px 4vh);
}

::-webkit-scrollbar {
    width: 0.5vh;
    border-radius: 0.7vh;
}

::-webkit-scrollbar-track {
    background-color: rgba(20, 20, 20, 0.61);
    border-radius: 0.7vh;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(100deg, #067be9, #0c80ec);
    border-radius: 0.5vh;
}

.Headers {
    display: grid;
    position: relative;
    top: 1vh;
    width: 38vh;
    height: 7vh;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.Box-Category {
    display: flex;
    position: relative;
    background-color: rgb(22 22 22 / 86%);
    width: 33vh;
    height: 4.4vh;
    border-radius: 1vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: none;
    outline: none;
}

.Log-Category {
    position: relative;
    margin: 0.8vh;
    transition-duration: 0.4s;
}

.Log-Category:hover > .fa-solid {
    color: #067be9;
    transition-duration: 0.4s;
}

.fa-solid {
    font-size: 1.4vh;
    position: relative;
    /* left: -0.6vh; */
    top: 0.3vh;
    transition-duration: 0.4s;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fa-person-falling {
    position: relative;
    font-size: 2vh;
    top: -0.1vh;
}

.Box-Create {
    position: absolute;
    width: 7vh;
    /* height: 17vh; */
    left: 39vh;
    top: 14vh;
    z-index: 111111111;
}

.Create {
    display: grid;
    position: relative;
    width: 8vh;
    /* height: 20vh; */
    background-color: rgba(31, 31, 31, 0.884);
    border-radius: 0.8vh;
    zoom: 84%;
    /* -webkit-box-reflect: below 5px linear-gradient(transparent 50%, rgba(34, 35, 46, 0.125)); */
    padding-bottom: 1vh;
    /* filter: blur(0.4vh); */
}

.Log-Create {
    display: grid;
    position: relative;
    width: 6vh;
    height: 10vh;
    /* top: 1vh; */
    left: 1vh;
    border-radius: 0.6vh;
    background: rgba(71, 68, 68, 0.39);
    border: 0.1vh solid rgb(68, 68, 68);
    justify-content: center;
    text-align: center;
    font-size: 1.2vh;
    color: rgb(173, 173, 173);
    margin-top: 1vh;
}

.Log-Create:hover {
    cursor: pointer;
    background: rgba(34, 33, 33, 0.63);
    border: 0.1vh solid rgb(68, 68, 68);
}

.fa-users-viewfinder, .fa-keyboard {
    position: relative;
    font-size: 3vh;
    top: 1vh;
    color: rgb(149, 153, 156);
    height: 6vh;
}

.Log-Sest {
    display: grid;
    position: relative;
    width: 6vh;
    height: 7vh;
    left: 1vh;
    border-radius: 0.6vh;
    background: rgba(71, 68, 68, 0.39);
    border: 0.1vh solid rgb(68, 68, 68);
    justify-content: center;
    text-align: center;
    color: rgb(173, 173, 173);
    margin-top: 0.6vh;
}

.Log-Sest:hover {
    cursor: pointer;
    background: rgba(34, 33, 33, 0.63);
    border: 0.1vh solid rgb(68, 68, 68);
}

.fa-person {
    position: relative;
    font-size: 2vh;
    top: 1vh;
    color: rgb(149, 153, 156);
    height: 3vh;
}

.fa-book {
    position: relative;
    font-size: 2vh;
    top: 1vh;
    color: rgb(149, 153, 156);
    height: 3vh;
}

.fa-box {
    position: relative;
    font-size: 2vh;
    top: 1vh;
    color: rgb(149, 153, 156);
    height: 3vh;
}

.fa-face-smile {
    position: relative;
    font-size: 2vh;
    top: 1vh;
    color: rgb(149, 153, 156);
    height: 3vh;
}

.fa-people-pulling{
    position: relative;
    font-size: 2vh;
    top: 1vh;
    color: rgb(149, 153, 156);
    height: 3vh;
}

.fa-person-running {
    position: relative;
    font-size: 2vh;
    top: 1vh;
    color: rgb(149, 153, 156);
    height: 3vh;
}

.star {
    z-index: 11111111111;
    opacity: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 5.5vh;
    height: 5vh;
    left: 27vh;
    border-radius: 0vh 1vh 1vh 0vh;
    background: linear-gradient(90deg, #eeeeee00, rgba(241, 165, 2, 0.5));
    transition-duration: 0.1s;
    top: -0.1vh;
}

.del {
    z-index: 11111111111;
    opacity: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 0vh;
    height: 6.4vh;
    left: 28vh;
    border-radius: 0vh 1vh 1vh 0vh;
    background: linear-gradient(90deg, #eeeeee00, #e906068a);
    transition-duration: 0.4s;
    top: -0.1vh;
}

.del:hover {
    cursor: pointer;
}

.tel {
    z-index: 11111111111;
    opacity: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 0vh;
    height: 6.4vh;
    left: 23.3vh;
    border-radius: 1vh 0vh 0vh 1vh;
    background: linear-gradient(-90deg, #eeeeee00, rgba(241, 165, 2, 0.5));
    transition-duration: 0.4s;
    top: -0.1vh;
}

.tel:hover {
    cursor: pointer;
}

.fa-trash-can, .fa-arrow-rotate-left {
    position: relative;
    font-size: 2vh;
    transition-duration: 0.5s;
}

.fa-star {
    position: relative;
    font-size: 1.5vh;
    transition-duration: 0.5s;
    top: 0vh;
    left: 0.5vh;
    color: #181818;
}

.fa-face-smile-wink {
    position: relative;
    font-size: 4vh;
    left: 0;
    top: 0;
}