@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@450;500&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Kanit, sans-serif;
  color: rgb(214, 212, 212);
  user-select: none;
  font-size: 1.2vh;
  font-style: normal;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.Hud {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.Box-Mains {
  position: relative;
  height: 48vh;
  /* top: -18vh; */
}

.Box-Blackjob {
  position: relative;
  width: 34vh;
  height: 48vh;
  justify-content: center;
  background-color: rgba(31, 31, 31, 0.882);
  border-radius: 1.5vh;
}

.Header {
  display: flex;
  position: relative;
  width: 100%;
  height: 6vh;
  top: -1vh;
  left: -1vh;
}

.s img {
  position: absolute;
  width: 9vh;
}

.Icon {
  position: relative;
  height: 7vh;
  width: 7vh;
  top: 1vh;
  left: 1vh;
}

.Icon img {
  height: 6vh;
  filter: drop-shadow(rgb(148, 149, 150) 0px 0px 4vh);
}

.Text {
  display: grid;
  position: relative;
  top: 2.6vh;
  left: 1vh;
}

.up {
  position: relative;
  font-size: 1.4vh;
}

.down {
  position: relative;
  top: -1.2vh;
  color: rgb(136, 133, 139);
}

.Box-Logs {
  position: relative;
  top: 1.5vh;
  width: 95%;
  height: 36.4vh;
  left: 1.1vh;
  overflow: hidden auto;
  zoom: 94%;
}

.Logs-s {
  display: inline-flex;
  position: relative;
  width: 32.5vh;
  height: 6.4vh;
  background-color: rgba(71, 68, 68, 0.39);
  border-radius: 0.8vh;
  border: 0.1vh solid rgb(68, 68, 68);
  margin-top: 0.4vh;
  margin-left: 0.6vh;
  transition: all 0.5s ease 0s;
}

.Logs-s:hover {
  transition: all 0.5s ease 0s;
  position: relative;
  background-color: rgba(39, 39, 39, 0.863);
}

.Img-Checks {
  border-radius: 0.6vh;
  display: flex;
  position: relative;
  width: 5vh;
  height: 4.55vh;
  margin-left: 0.15vh;
  top: 0.1vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(6, 123, 233, 0.54), rgba(238, 238, 238, 0));
  transition-duration: 0.4s;
  font-size: 3.6vh;
}

.Img-Checks img {
  position: relative;
  width: 6vh;
  height: 6vh;
  top: -0.3vh;
  left: -0.5vh;
}

.fa-parachute-box , .fa-box-open {
  position: relative;
  font-size: 3.6vh;
  left: -0.4vh;
}

.Name-Check {
  display: grid;
  width: 18vh;
  position: relative;
  height: 5vh;
  top: 0.8vh;
  left: 0.5vh;
}

.f {
  position: relative;
  font-size: 1.2vh;
  font-variant: all-small-caps;
}

.e {
  position: relative;
  top: -1vh;
  font-size: 1.4vh;
}

.Sell-Check {
  position: absolute;
  width: 4vh;
  top: 0.7vh;
  height: 3.4vh;
  left: 24vh;
  background: rgb(32, 32, 32);
  border-radius: 0.4vh;
}

.Box-Textdown {
  display: flex;
  position: relative;
  top: 4vh;
  width: 100%;
  justify-content: center;
  color: rgb(112, 112, 112);
}

button {
  position: relative;
  border: none;
  border-radius: 0.5vh;
  width: 6vh;
  height: 3vh;
  transition: all 0.3s ease 0s;
  background-color: rgb(59, 130, 246);
  color: rgb(255, 255, 255);
  top: 1vh;
  left: 3vh;
}

button:hover {
  cursor: pointer;
  box-shadow: rgba(59, 131, 246, 0.373) 0px 0px 0px 5px;
  filter: drop-shadow(rgb(6, 135, 241) 0px 0px 4vh);
}

::-webkit-scrollbar {
  width: 0.5vh;
  border-radius: 0.7vh;
}

::-webkit-scrollbar-track {
  background-color: rgba(20, 20, 20, 0.61);
  border-radius: 0.7vh;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgb(41, 116, 236) 0%, rgb(59, 130, 246) 100%);
  border-radius: 0.5vh;
}

.Headers {
  display: grid;
  position: relative;
  top: 1vh;
  width: 60vh;
  height: 7vh;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.Box-Category {
  display: flex;
  position: relative;
  background-color: rgba(22, 22, 22, 0.86);
  width: 56vh;
  height: 4.4vh;
  border-radius: 1vh;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.Log-Category {
  position: relative;
  margin: 2vh;
  transition-duration: 0.4s;
}

.Log-Category:hover {
  color: rgb(41, 116, 236);
  transition-duration: 0.4s;
}

ion-icon {
  font-size: 1.4vh;
  position: relative;
  left: -0.6vh;
  top: 0.3vh;
}

.del {
  z-index: 2147483647;
  opacity: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 5vh;
  height: 6.4vh;
  left: 27.5vh;
  border-radius: 0vh 1vh 1vh 0vh;
  background: linear-gradient(90deg, rgba(238, 238, 238, 0), rgba(241, 165, 2, 0.5));
  transition-duration: 0.4s;
  top: -0.1vh;
}

/* .del:hover {
  cursor: pointer;
} */

.fa-circle-up {
  position: relative;
  font-size: 2vh;
  transition-duration: 0.5s;
  color: rgb(172, 172, 172);
  left: 0.2vh;
}

.loader-dot {
  zoom: 62%;
  position: absolute;
  width: 1vh;
  height: 1vh;
  border-radius: 0.6vh;
  left: 50vh;
  top: -69vh;
  background-color: rgb(12, 128, 236);
  color: rgb(12, 128, 236);
  animation: 1s linear 0.2s infinite alternate none running dot;
  filter: drop-shadow(rgba(12, 128, 236, 0.624) 0vh 0px 3vh);
}

.loader-dot::before, .loader-dot::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0px;
}

.loader-dot::before {
  left: -1.4vh;
  width: 1vh;
  height: 1vh;
  border-radius: 1vh;
  background-color: rgb(12, 128, 236);
  color: rgb(12, 128, 236);
  animation: 1s ease 0s infinite alternate none running dot;
}

.loader-dot::after {
  left: 1.4vh;
  width: 1vh;
  height: 1vh;
  border-radius: 1vh;
  background-color: rgb(12, 128, 236);
  color: rgb(12, 128, 236);
  animation: 1s ease 0.2s infinite alternate none running dot;
}

 @keyframes dot {
    0% {
        background-color: rgb(12, 128, 236);
  }
    50%, 100% {
        background-color: rgba(0, 0, 0, 0.7);
  }
}

.person {
  position: relative;
  font-size: 1vh;
  color: rgb(168, 168, 168);
  top: 0.5vh;
  left: -0.5vh;
  width: 6vh;
  text-align: end;
}

.person span {
  position: relative;
  font-size: 1vh;
  left: -0.3vh;
}

.fa-user {
  position: relative;
  font-size: 0.7vh;
  top: -0.123vh;
  left: -0.3vh;
  color: rgb(168, 168, 168);
}

.sssss {
  display: flex;
  position: absolute;
  top: 1vh;
  /* width: 100%; */
  justify-content: center;
  zoom: 88%;
}

.Event {
  zoom: 76%;
  width: 26vh;
  height: 11vh;
  background-color: rgba(20, 20, 20, 0.698);
  filter: drop-shadow(rgba(19, 18, 18, 0.624) 0vh 0px 1vh);
  margin-left: 1.8vh;
  border-radius: 1.8vh;
}

.Event img {
  position: absolute;
  width: 30vh;
  height: 16vh;
  filter: blur(7vh);
}

.Headersss {
  display: flex;
  position: relative;
  height: 3vh;
  left: 2vh;
  top: 0.5vh;
  border-radius: 1vh;
  text-transform: uppercase;
}

.Name {
  position: relative;
  margin-left: 1vh;
}

.Point {
  display: grid;
  position: relative;
  left: 10.3vh;
  top: 4vh;
  width: 3vh;
}

.fa-circle {
  position: relative;
  top: -0.4vh;
  font-size: 0.5vh;
}

.dot1 {
  color: rgb(7, 122, 230);
}

.dot2 {
  color: rgb(5, 107, 202);
}

.dot3 {
  color: rgb(3, 94, 179);
}

.Log {
  position: relative;
  width: 30vh;
  height: 12vh;
}

.Main {
  display: flex;
  position: relative;
}

.hrl {
  position: absolute;
  width: 0.1vh;
  height: 3vh;
  top: 3.4vh;
  left: 3vh;
  background-color: rgb(87, 87, 87);
}

.S {
  position: relative;
  left: 6vh;
  top: 1vh;
  width: 16vh;
  height: 8vh;
}

.s {
  color: rgb(177, 177, 177);
  font-family: Oswald, sans-serif;
  font-size: 1.6vh;
}

.Time {
  position: relative;
  font-size: 2.4vh;
  top: 2vh;
  left: -2.25vh;
  width: 17vh;
  color: rgb(6, 123, 233, 0.959);
  font-family: Oswald, sans-serif;
}

.Box-Img {
  position: relative;
  width: 12vh;
  height: 12vh;
}

.Box-Img img {
  position: relative;
  width: 10vh;
  height: 10vh;
  top: -3vh;
  left: -3vh;
  filter: drop-shadow(rgba(7, 122, 230, 0.176) 0vh 0px 3vh);
}

.hrls {
  position: absolute;
  width: 0.4vh;
  height: 5.6vh;
  border-radius: 2vh;
  top: 2.5vh;
  background-color: rgba(6, 123, 233, 0.959);
}

@keyframes showw {
    0% {
    opacity: 0;
    bottom: 13%;
  }
    100% {
    opacity: 1;
    bottom: 15.1%;
  }
}
@keyframes dropp {
    0% {
    opacity: 1;
    bottom: 15.1%;
  }
    100% {
    opacity: 0;
    bottom: 13%;
  }
}
 

.hrl-l {
  position: absolute;
  width: 0.4vh;
  height: 16.4vh;
  border-radius: 0vh 1vh 1vh 0vh;
  background-color: rgb(9, 129, 221);
  z-index: 11;
  top: 24.4vh;
  left: 0vh;
}

.hrl-r {
  position: absolute;
  width: 0.4vh;
  height: 16.4vh;
  border-radius: 1vh 0vh 0vh 1vh;
  background-color: rgb(9, 129, 221);
  z-index: 11;
  top: 24.4vh;
  left: 33.6vh;
}

.DiaLog-Allsell {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1111;
}

.Box-Allsell {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 37vh;
  /* height: 55.4vh; */
  background-color: rgba(31, 31, 31, 0.74);
  border: 0.1vh solid rgba(17, 17, 17, 0.041);
  border-radius: 1.5vh;
  zoom: 80%;
  padding-bottom: 5vh;
}

.listsell {
  position: relative;
  width: 37vh;
  /* height: 33vh; */
  /* top: 1vh; */
  max-height: 40vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.Log-s {
  display: flex;
  position: relative;
  width: 33vh;
  height: 5vh;
  left: 1.95vh;
  background: rgba(71, 68, 68, 0.39);
  border: 0.1vh solid rgb(68, 68, 68);
  border-radius: 1vh;
  margin-top: 0.5vh;
  align-items: center;
  transition: 0.3s;
}

.Log-s:hover {
  background: rgba(29, 28, 28, 0.856);
}

.Img-Check-s {
  display: flex;
  position: relative;
  width: 5vh;
  height: 4.5vh;
  justify-content: center;
  align-items: center;
}

.Img-Check-s img {
  position: relative;
  width: 3.4vh;
  height: 3.4vh;
  top: -0.1vh;
}

.Name-Check-s {
  display: grid;
  width: 16vh;
  position: relative;
  /* justify-content: center; */
  align-items: center;
}

.f-s {
  position: relative;
  font-size: 0.8vh;
}

.e-s {
  position: relative;
  font-size: 1.4vh;
}

.e-s span {
  position: relative;
  font-size: 1.0vh;
}

.Sell-Check-s {
  position: absolute;
  width: 9vh;
  left: 22vh;
  text-align: right;
  font-size: 2vh;
}

.Total {
  display: flex;
  position: relative;
  height: 5vh;
  width: 34vh;
  top: 3vh;
  font-size: 3vh;
  left: 3vh;
  transition: all 0.5s ease 0s;
}

.Total span {
  display: flex;
  position: relative;
  font-size: 1.8vh;
  align-items: center;
  left: 1vh;
  top: -0.1vh;
  transition: all 0.5s ease 0s;
}

.Total p {
  font-size: 1.4vh;
  color: #707070;
  transition: all 0.5s ease 0s;
}

.del {
  opacity: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 5vh;
  height: 5vh;
  left: 28vh;
  border-radius: 0vh 1vh 1vh 0vh;
  background-image: linear-gradient(90deg, rgb(221, 9, 9) 0%, rgb(159, 13, 13) 100%);
  border: 0.1vh solid rgb(68, 68, 68);
  transition-duration: 0.4s;
}

.text-log {
  position: relative;
  left: 2.3vh;
  padding-top: 1vh;
  padding-bottom: 0.3vh;
  color: #9e9e9e;
}

.police {
  position: absolute;
  left: 30vh;
  width: 8vh;
  height: 3vh;
  text-align: end;
  top: 0.5vh;
}

.Font {
  display: flex;
  position: relative;
}

.fa-capsules {
  position: relative;
  font-size: 3vh;
  top: 1vh;
  color: gainsboro;
  filter: drop-shadow(rgba(53, 52, 52, 0.247) 0vh 0px 0.5vh);
}

.Font span {
  position: relative;
  font-size: 2vh;
  left: 0.4vh;
}

.BUYYYYS {
  display: flex;
  position: relative;
  top: 0.5vh;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
}

.sellallS {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 26vh;
  height: 4.8vh;
  background-image: linear-gradient(90deg, rgb(9, 129, 221) 0%, rgba(13, 97, 159, 1) 100%);
  text-align: center;
  border-radius: 1vh;
  font-size: 1.6vh;
  transition: .3s;
}

.sellallS:hover {
  transition: .3s;
  background-image: linear-gradient(90deg, rgb(17, 142, 238) 0%, rgba(13, 97, 159, 1) 100%);
  cursor: pointer;
}

.hrltotal {
  position: relative;
  width: 30vh;
  height: 0.1vh;
  top: 3vh;
  left: 3vh;
  background-color: #414141;
}

.Box-Textdowns {
  display: flex;
  position: absolute;
  top: 10vh;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  color: #c4c1c1;
  z-index: 9999999999999;
  zoom: 85%;
  transition: top 0.5s ease-in-out; /* กำหนดความเร็วและลักษณะการเปลี่ยนแปลง */
}

.Box-Textdowns span {
  display: flex;
  position: relative;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: 0.4vh;
  padding-bottom: 0.4vh;
  background: #161616cc;
  /* top: -1.5vh; */
  margin: 1vh;
  border-radius: 0.5vh;
  color: #0f7de4;
}