@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    user-select: none;

}



html,
body {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}


@keyframes ShowInven {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes HideInven {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* @keyframes slit-in-vertical {
    0% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
              transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
              transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateY(0);
              transform: translateZ(0) rotateY(0);
    }
  } */



.blur {
    pointer-events: none;
    filter: blur(1px);

    /* position: absolute;
    z-index: 11111111;
    background-color: #13131348;
    width: 107.5%;
    display: none;
    height: 100%; */
    /* border-radius: 15px; */
}

:root {
    --main_bg1: rgb(26, 25, 25);
    --main1: #0077ff;
    --main2: #0a52b1;
    --mainred1: #003881;
    --mainred2: #0077ff;
    --mainblue1: #003169;
    --Fxw: rgb(10, 10, 10);
    --Fxws: rgb(18, 18, 18);



    --slot: rgb(25, 25, 25);



    --box-name: rgb(20, 20, 20, .845);
    --box-nameadcount: rgb(25, 25, 25);
    --box-nameadcount1: rgb(36, 36, 36);

    --box-nameadcountnav: rgb(25, 25, 25);

    --Fxw1: rgb(18, 18, 18, 0.9);

    /* --box-shadow: 0 1px 1px #000; */


    --grey: rgb(198, 198, 198);

    --boder: rgba(255, 255, 255, 0.979);



}


.ui {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0);
    z-index: 0;
    display: none;
}

.inventory {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 94rem;
    height: 47.2rem;
    display: flex;
    flex-direction: row-reverse;
}

.inventory.normal {
    width: 53rem;
    height: 47.2rem;

}

.normal .playerInventory {
    background: transparent;
}

.playerInventory,
.otherInventory {
    position: relative;
    flex: 1;

}



.normal .otherInventory {
    display: none;
}




.header {
    position: absolute;
    display: flex;
    align-items: center;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset; */

    right: 0;
    top: 8.5px;

    height: 2.5rem;
    width: 45rem;

    border-radius: 8px 8px 0 0;

    background-color: rgb(20, 20, 20);


    /* background-color: rgba(23,23,23,.9); */
}

.left {
    margin-left: 2%;
    letter-spacing: .5vmin;
}

.right {
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: right;
}


.fastslot {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.9rem;
    height: 5.45rem;

    border-radius: 8px;
    transition: .1s;
    transform: skew(-0deg);
    /* border: solid 2px rgba(44, 44, 44, 0.644); */

    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset; */

    /* background-color: #191919; */
    /* background: linear-gradient(175deg, #191919 0%, #222222 100%); */

    background-color: rgb(20, 20, 20, 0.925);
    border: solid 1px rgb(36, 36, 36);





}




.fastslotbox-bc {
    background-color: rgb(20, 20, 20, 0.925);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: .1s;
    justify-content: center;
}

.fastslotbox-bc .item-image {
    height: 64px;
    width: 64px;
}



.bx-plus-medical {
    font-size: 0.9em;
    color: #0077ff;
}

.bg-pholist {
    background: rgba(30, 30, 30, 0.8) !important;
}

.item {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
}

.second .content {
    position: relative;
    width: 95%;
}

.second .fastSlot {
    display: none;
    border-radius: .2vmin;
}

.container-inventory {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset; */

    width: 45rem;
    height: 41.1rem;
    padding: 5px;
    right: 0;
    border-radius:0 0 8px 8px;

    background-color: rgb(20, 20, 20, 0.925);


    top: 3rem;

}

.logo {
    display: flex;
    align-items: center;
    position: absolute;
    left: -12rem;
    width: 5rem;
    height: 5rem;
    bottom: -55px;
    transform: rotate(-30deg);
    display: none;
    z-index: 9999;
}

.logo img {
    height: 100%;
    z-index: 9999;
}

.container-inventory-second {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45rem;
    height: 41.1rem;
    padding: 5px;
    right: 0;
    border-radius:0 0 8px 8px;

    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset; */
    top: 3rem;
    background-color: rgb(20, 20, 20, 0.925);


}



.content-player {
    position: absolute;
    width: 98.2%;
    height: 98.2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    overflow: hidden;
}

.content-player .bg {
    width: 100%;
    position: absolute;
    bottom: -7rem;
}

.content-second {
    position: absolute;
    width: 98.2%;
    height: 98.2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

.content-second .bg1 {
    width: 100%;
    position: absolute;
    bottom: -7rem;
}

.header-bottom {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset; */

    height: 2.5rem;
    width: 45rem;

    border-radius: 8px;
    right: 0;
    bottom: 0;


    background-color: rgb(20, 20, 20, 0.925);
}



.header-bottom-second {
    position: absolute;
    display: flex;
    align-items: center;

    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset; */

    right: 0;
    bottom: 0;

    height: 2.5rem;
    width: 45rem;

    border-radius: 8px;

    background-color: rgb(20, 20, 20, 0.925);



    /* box-shadow: var(--box-shadow); */
}




.container-fast-slot {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41.1rem;
    width: 7.3rem;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset; */
    left: 0;
    background-color: rgb(20, 20, 20, 0.925);



    border-radius: 8px;
    top: 3rem;
}




.fastElements {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    border-radius: 8px;
    row-gap: 5px;
}








.weight-box {
    position: relative;
    width: 20%;
    height: 60%;
    padding: 0;
    overflow: hidden;
    background-color: rgba(200, 200, 200, 0.8);
    border-radius: .2vmin;
}

#pWeightBar,
#sWeightBar {
    position: absolute;
    bottom: 0%;
    left: 0%;
    margin-left: -1%;
    margin-bottom: -1%;
    width: 100%;
    height: 10%;
    transition: .1s;
    background: #fff;
}

#maxBTN:hover {
    color: black !important;
}

.from-btn:hover {
    color: #fcfcfc;
}

.text-header-inventory {
    display: flex;
    align-items: center;
    position: absolute;
    left: 17px;

    color: #dbdbdb;
    padding: 0 10px;
    letter-spacing: 1px;
    font-weight: 400;
}



.bxs-shopping-bag-alt {
    color: #0084ff;
    animation: animation .5s infinite linear alternate;
    /*text-shadow: 0 1px 20px #0084ff;*/
    font-size: 1.6em;
}





.header-inventory-right {
    position: absolute;
    transform: rotate(90deg);
    right: -15.53rem;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
     background-color: rgb(20, 20, 20, 0.925);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -111111;
    width: 65%;
    height: 1.8rem;
    margin-left: 9rem;
}

.header-inventory-right p:nth-child(2) {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 22px;
    /* text-shadow: 0 1px 20px #ffffffb0;*/
    margin-top: 1.15rem;

}

.header-inventory-right p:nth-child(1) {
    color: #0084ff;
    font-size: 18px;
    font-weight: 400;
    /* text-shadow: 0 1px 20px #0084ffb7;*/
    letter-spacing: 22px;
    margin-top: 1.15rem;

}











.header-fast-slot-right {
    position: absolute;
    transform: rotate(-90deg);
    right: 39.83rem;
    top: 48%;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 53%;
    height: 1.8rem;
    z-index: -10000;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
     background-color: rgb(20, 20, 20, 0.925);


}

.header-fast-slot-right p:nth-child(1) {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 22px;
    /*text-shadow: 0 1px 20px #ffffffb0;*/
    margin-top: 1.15rem;

}

.header-fast-slot-right p:nth-child(2) {
    color: #1677e5;
    font-size: 18px;
    font-weight: 400;
    /*text-shadow: 0 1px 20px #0084ffb7;*/
    letter-spacing: 22px;
    margin-top: 1.15rem;

}











.header-slotplayer {
    position: absolute;
    transform: rotate(-90deg);
    right: 33.42rem;
    top: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1111111;
    width: 53%;
    height: 1.8rem;


    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
     background-color: rgb(20, 20, 20, 0.925);

}

.header-slotplayer p:nth-child(1) {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 22px;
    /* text-shadow: 0 1px 20px #ffffffb0; */
    margin-top: 1.15rem;

}

.header-slotplayer p:nth-child(2) {
    color: #1677e5;
    font-size: 18px;
    font-weight: 400;
    /*text-shadow: 0 1px 20px #0084ffb7;*/
    letter-spacing: 22px;
    margin-top: 1.15rem;

}






.header-slotother {
    position: absolute;
    transform: rotate(90deg);
    left: 35.46rem;
    top: 48%;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 53%;
    height: 1.8rem;

    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
     background-color: rgb(20, 20, 20, 0.925);
}

.header-slotother p:nth-child(1) {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 22px;
    /* text-shadow: 0 1px 20px #ffffffdc;*/
    margin-top: 1.15rem;

}

.header-slotother p:nth-child(2) {
    color: #0084ff;
    font-size: 18px;
    font-weight: 400;
    /* text-shadow: 0 1px 20px #0084ffb7;*/
    letter-spacing: 22px;
    margin-top: 1.15rem;

}














































.searchBox {
    display: flex;
    align-items: center;

    position: absolute;
    left: 34px;
}

.searchBox input {
    border: 0;
    outline: 0;
    border-radius: 0 5px 5px 0;
    text-align: center;
    /* color: #fff; */
    height: 1.6rem;

    width: 11rem;
    text-transform: uppercase;
    background-color: rgba(31, 31, 31, 0.637);

    /* border: solid 0px rgba(31, 31, 31, 0); */
    font-size: 12px;
    animation: animationcolor .6s infinite linear alternate;
}


.playericon {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 10px;

    color: #ffffff;
    background: linear-gradient(125deg, var(--main1), var(--main2));

    padding: 3px 4px;
    font-size: 1.1rem;
    border-radius: 5px 0 0 5px;
}

.seconicon {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 10px;

    color: #ffffff;
    background: linear-gradient(125deg, var(--main1), var(--main2));

    padding: 3px 4px;
    font-size: 1.1rem;
    border-radius: 0 5px 5px 0;
}


.text-basic-town {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 15px;
    color: #fff;
    font-size: 14px;
}

.text-basic-town img {
    width: 120px;
}



.keed {
    position: absolute;
    width: 2.5px;
    left: 8px;
    display: flex;
    align-items: center;
    height: 55%;
    background-color: #0069cc;
}


.keed .bxs-circle {
    font-size: 12px;
    margin-top: 2.3px;
    position: absolute;
    right: -5px;
    color: #fff;
}









.text-weight {
    position: absolute;
    color: #ffffff;

    left: 24rem;
    font-size: 0.75em;
}

.text-inventoryhud {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    font-size: 0.95em;
    color: #ffffff;

}



.box-weight {

    width: 18rem;
    height: 1.2rem;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset, 0 1px 1px #000000; */
    background: linear-gradient(45deg, rgba(30, 30, 30, 0.936), rgba(46, 46, 46, 0.836));
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset; */

    right: 9px;
    border-radius: 4px;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* box-shadow: var(--box-shadow); */
}

.text-percen-weight {
    position: absolute;
    color: #ffffff;
    font-size: 0.75em;
    right: 10px;
    /* transform: skew(-10deg); */

}





#boxWeight1 {
    left: 0;
    /* background: linear-gradient(70deg, rgba(248, 120, 0, 0.863), rgba(241, 157, 0, 0.863)); */
    background: linear-gradient(-125deg, var(--main1), var(--main2));

    height: 100%;
    border-radius: 4px;
    /* box-shadow: var(--box-shadow); */
    transition: .8s;
    width: 0%;
    position: relative;
}

#boxWeight2-other {
    left: 0;
    /* background: linear-gradient(70deg, rgba(248, 120, 0, 0.863), rgba(241, 157, 0, 0.863)); */
    background: linear-gradient(-125deg, var(--main1), var(--main2));


    height: 100%;
    border-radius: 4px;
    /* box-shadow: var(--box-shadow); */
    transition: .8s;

    width: 0%;
    position: relative;
}



.textasd {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 20%;
    width: 100%;

    font-size: 10rem;
    color: #acacac11;
    transform: skew(10deg);
}





.inventory-scroll {
    width: 44rem;
    height: 40rem;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    margin-left: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1px;
    row-gap: 10px;
    padding: 0 6px;
    transition: 0.5s;
    z-index: 999;
}

.inventory-scroll2 {
    width: 44rem;
    height: 40rem;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    margin-left: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1px;
    row-gap: 10px;
    transition: 0.5s;
    z-index: 999;
}


::-webkit-scrollbar {
    position: absolute;
    width: 5px;
    height: 100%;
    padding: 0 10px;
    border-radius: 9vmin;
    background-color: rgba(7, 7, 7, 0.404);
}

::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 9vmin;
    background: linear-gradient(120deg, rgb(9, 81, 163) 0%, rgb(0, 119, 255) 100%);
}



.slot {
    position: relative;
    width: 6.6rem;
    height: 8rem;
    background-color: rgb(20, 20, 20, 0.925);
    border: solid 1px rgb(36, 36, 36);



    border-radius: 9px;

    overflow: hidden;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item,
.item-other {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center center;
}

.img-fast {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 55px;
    background-repeat: no-repeat;
    background-position: center center;
}

.inventory .item {
    position: relative;
    flex: 1;
}

.item-keybind {
    font-family: "Kanit";
    position: absolute;
    z-index: 500;
    font-weight: 400;
    font-size: 40px;
    cursor: default;

    padding: 0 8px;
    border-radius: 50px;
    color: #5a5a5a65;
    transition: .1s;
}


/* .item-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
} */



.item-name {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .1s;
    text-shadow: 0 0 5px #000;
    background-color: rgb(12, 12, 12, 0.75);
    border-radius: 0 0 8px 8px;
    bottom: 0px;

    font-weight: 500;
    color: #acacac;
    font-size: 10px;
    width: 100%;
    height: 1.15rem;
    letter-spacing: 0.3px;
    z-index: 1;
    text-transform: uppercase;
}







.item-name-fast {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: animationcolorslot .3s infinite linear alternate;
    bottom: 4px;
    font-weight: 400;
    color: #acacac;
    font-size: 10px;
    height: 1.16rem;

    flex-wrap: nowrap;
    width: 4.5rem;
    border-radius: 8px;

    text-transform: uppercase;
}



.opacity {
    color: #0077ff;
}


/* .ui-draggable-dragging .item-name,
.ui-draggable-dragging .box-item-count,
.ui-draggable-dragging .box-item-weight,
.ui-draggable-dragging .text-weight-slot,
.ui-draggable-dragging .item-icon,
.ui-draggable-dragging .box-item-count {
    display: none;

} */

.box-item-count {
    position: absolute;
    color: #fff;
    font-weight: 400;
    padding: 0 12px;
    font-size: 10px;
    transition: .1s;

    border-radius: 4px;

    top: 5px;
}

.item-count-fast {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 80000;

    font-size: 10px;

    transition: .1s;

    border-radius: 8px;
    top: 1px;
    overflow: hidden;
    color: #ffffff;
}

.box-item-weight {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #bdbdbdc7;

    font-size: 11.5px;

    bottom: 1.75rem;
    left: 20px;
    overflow: hidden;
    transform: skew(-5deg);
    transition: .1s;
    display: none;
}


.text-weight-slot {
    position: relative;
    padding: 0 8px;
    border-radius: 8px;
    color: #fff;
}



.tooltip {
    display: none;
    position: absolute;
    color: white;
    background: rgba(20, 20, 20, 0.8);
    padding: 1%;
    z-index: 999;
}





.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    right: 4px;
}

.box-type-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
    color: #7a7a7a;
    font-size: 14px;
    text-align: center;
    height: 100%;
    transition: .1s;
}

.box-type-header p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 12px;
}










@keyframes openplayer {
    0% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes openohter {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0px);
    }
}









@keyframes Ingive {
    0% {
        top: 40%;
        opacity: 0;
    }

    100% {
        top: 50%;
        opacity: 1;

    }
}

@keyframes Ountgive {
    0% {
        top: 50%;
        opacity: 1;
    }

    100% {
        top: 45%;
        opacity: 0;

    }
}





/* ==================================== GIVEITEM<3 */

.box-container-give {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 53%;
    width: 15rem;
    height: 18rem;
    display: none;
    margin: 0;
    padding: 0;
    z-index: 1111111111111111111111111111111111111111;
}

.container-give {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 91%;
    z-index: 0;
    bottom: 0;
    padding: 5px;
    border-radius: 0 0 8px 8px;
    background-color: rgb(20, 20, 20, 0.925);
    border-left: solid 1px rgb(36, 36, 36);
    border-right: solid 1px rgb(36, 36, 36);
    border-bottom: solid 1px rgb(36, 36, 36);

}

.header-container-give {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100.8%;
    top: -22px;
    position: absolute;
    height: 1.5rem;
    border-radius: 8px 8px 0 0;
    z-index: 111;
    background-color: rgb(12, 12, 12);

    border-left: solid 1px rgb(36, 36, 36);
    border-right: solid 1px rgb(36, 36, 36);
    border-top: solid 1px rgb(36, 36, 36);


    padding: 0 5px;
}

.header-container-give p {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.6px;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-img-items {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    background-color: rgb(20, 20, 20, 0.925);



    border-radius: 7px;
    border: solid 2px #3887ffa8;
    width: 54%;
    height: 54%;
    overflow: hidden;
}

.box-img-items img {
    height: 80%;

    margin-top: -22px;
}

.box-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1.4rem;
    background: linear-gradient(-125deg, rgb(1, 96, 228) 0%, rgb(13, 78, 124) 100%);
    position: absolute;
    bottom: 0;
}

.box-name p {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-confirm-give {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82%;
    height: 1.6rem;
    background: linear-gradient(-175deg, rgb(1, 96, 228) 0%, rgb(19, 45, 63) 100%);
    position: absolute;
    bottom: 13px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 6px;
    transition: .2s;
    cursor: pointer;
}


.box-amount-give {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10rem;
    height: 2rem;
    width: 82%;
}

.box-amount-give button:nth-child(1) {
    position: absolute;
    left: 0;
    height: 70%;
    width: 2.2rem;
    background: linear-gradient(-175deg, rgb(1, 96, 228) 0%, rgb(19, 45, 63) 100%);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: 400;
    outline: none;
    transition: .2s;
    color: #fff;
    font-size: 12px;
}


.box-amount-give button:nth-child(3) {
    position: absolute;
    right: 0;
    height: 70%;
    width: 2.2rem;
    background: linear-gradient(-175deg, rgb(228, 1, 1) 0%, rgb(94, 8, 8) 100%);
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 400;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: .2s;
}


.box-amount-give div {
    width: 55%;
    height: 70%;
}

.box-amount-give input {
    width: 100%;
    height: 100%;
    border: solid 1px rgb(36, 36, 36);
    background-color: rgb(12, 12, 12, 0.9);




    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    color: #fff;

    font-size: 14px;

}

::-webkit-inner-spin-button {
    display: none;
}

.box-id-player {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 11.7rem;
    height: 2rem;
    width: 70%;
    text-align: center;
}

.box-id-player p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 16%;
}

.box-id-player input {
    width: 60%;
    height: 65%;
    border: solid 1px rgb(36, 36, 36);
    background-color: rgb(12, 12, 12, 0.9);




    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 0;
}



@keyframes animationcolorborderbottom {
    from {
        color: #005dc77a;
    }

    to {
        color: #0879e2;
    }
}

@keyframes animationcolor {
    from {
        color: #d4d4d4;
    }

    to {
        color: #d4d4d4;
    }
}

@keyframes animationcolorslot {
    from {
        color: #d4d4d4;
    }

    to {
        color: #d4d4d4;
    }
}


@keyframes open-inven {
    from {
        top: 45%;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes out-inven {
    from {
        top: 50%;
        opacity: 1;

    }

    to {
        top: 45%;
        opacity: 0;
    }
}


.active {
    color: #fff;
}

















.slot .item-image {
    height: 80px;
    width: 80px;
}

.header-secon-itemsr .searchBoxSecon {
    display: flex;
    align-items: center;

    position: absolute;
    right: 34px;
}



.searchBoxSecon input {
    border: 0;
    outline: 0;
    border-radius: 5px 0 0 5px;
    text-align: center;
    /* color: #fff; */
    height: 1.6rem;

    width: 11rem;
    text-transform: uppercase;
    background-color: rgba(31, 31, 31, 0.637);

    /* border: solid 0px rgba(31, 31, 31, 0); */
    font-size: 12px;
    animation: animationcolor .6s infinite linear alternate;
}